swagger: '2.0'
info:
  version: '2015-08-01'
  title: WebSite Management Client
  description: >-
    Use these APIs to manage Azure Websites resources through the Azure Resource
    Manager. All task operations conform to the HTTP/1.1 protocol specification
    and each operation returns an x-ms-request-id header that can be used to
    obtain information about the request. You must make sure that requests made
    to these resources are secure. For more information, see <a
    href="https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx">Authenticating
    Azure Resource Manager requests.</a>
host: management.azure.com
schemes:
  - https
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}':
    get:
      tags:
        - CertificateOrders
      summary: Get certificate associated with the certificate order
      operationId: CertificateOrders_GetCertificate
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: "true"
          type: string
        - name: certificateOrderName
          in: path
          description: Certificate name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrderCertificate'
      deprecated: false
    put:
      tags:
        - CertificateOrders
      summary: >-
        Associates a Key Vault secret to a certificate store that will be used
        for storing the certificate once it's ready
      operationId: CertificateOrders_CreateOrUpdateCertificate
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: certificateOrderName
          in: path
          description: Certificate name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - name: keyVaultCertificate
          in: body
          description: Key Vault secret csm Id
          required: true
          schema:
            $ref: '#/definitions/CertificateOrderCertificate'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrderCertificate'
      deprecated: false
    delete:
      tags:
        - CertificateOrders
      summary: Deletes the certificate associated with the certificate order
      operationId: CertificateOrders_DeleteCertificate
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: certificateOrderName
          in: path
          description: Certificate name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
    patch:
      tags:
        - CertificateOrders
      summary: >-
        Associates a Key Vault secret to a certificate store that will be used
        for storing the certificate once it's ready
      operationId: CertificateOrders_UpdateCertificate
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: certificateOrderName
          in: path
          description: Certificate name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - name: keyVaultCertificate
          in: body
          description: Key Vault secret csm Id
          required: true
          schema:
            $ref: '#/definitions/CertificateOrderCertificate'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrderCertificate'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}':
    get:
      tags:
        - CertificateOrders
      summary: Get a certificate order
      operationId: CertificateOrders_GetCertificateOrder
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrder'
      deprecated: false
    put:
      tags:
        - CertificateOrders
      summary: Create or update a certificate purchase order
      operationId: CertificateOrders_CreateOrUpdateCertificateOrder
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - name: certificateDistinguishedName
          in: body
          description: Distinguished name to be used for purchasing certificate
          required: true
          schema:
            $ref: '#/definitions/CertificateOrder'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrder'
      deprecated: false
    delete:
      tags:
        - CertificateOrders
      summary: Delete an existing certificate order
      operationId: CertificateOrders_DeleteCertificateOrder
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
    patch:
      tags:
        - CertificateOrders
      summary: Create or update a certificate purchase order
      operationId: CertificateOrders_UpdateCertificateOrder
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - name: certificateDistinguishedName
          in: body
          description: Distinguished name to be used for purchasing certificate
          required: true
          schema:
            $ref: '#/definitions/CertificateOrder'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrder'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders':
    get:
      tags:
        - CertificateOrders
      summary: Get certificate orders in a resource group
      operationId: CertificateOrders_GetCertificateOrders
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrderCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates':
    get:
      tags:
        - CertificateOrders
      summary: >-
        List all certificates associated with a certificate order (only one
        certificate can be associated with an order at a time)
      operationId: CertificateOrders_GetCertificates
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: certificateOrderName
          in: path
          description: Certificate name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrderCertificateCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/reissue':
    post:
      tags:
        - CertificateOrders
      summary: Reissue an existing certificate order
      operationId: CertificateOrders_ReissueCertificateOrder
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - name: reissueCertificateOrderRequest
          in: body
          description: Reissue parameters
          required: true
          schema:
            $ref: '#/definitions/ReissueCertificateOrderRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/renew':
    post:
      tags:
        - CertificateOrders
      summary: Renew an existing certificate order
      operationId: CertificateOrders_RenewCertificateOrder
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate name
          required: true
          type: string
        - name: renewCertificateOrderRequest
          in: body
          description: Renew parameters
          required: true
          schema:
            $ref: '#/definitions/RenewCertificateOrderRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions':
    post:
      tags:
        - CertificateOrders
      summary: Retrieve the list of certificate actions
      operationId: CertificateOrders_RetrieveCertificateActions
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate order name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CertificateOrderAction'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory':
    post:
      tags:
        - CertificateOrders
      summary: Retrive email history
      operationId: CertificateOrders_RetrieveCertificateEmailHistory
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate order name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CertificateEmail'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/resendEmail':
    post:
      tags:
        - CertificateOrders
      summary: Resend certificate email
      operationId: CertificateOrders_ResendCertificateEmail
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate order name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/verifyDomainOwnership':
    post:
      tags:
        - CertificateOrders
      summary: Verify domain ownership for this certificate order
      operationId: CertificateOrders_VerifyDomainOwnership
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Azure resource group name
          required: true
          type: string
        - name: name
          in: path
          description: Certificate order name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates':
    get:
      tags:
        - Certificates
      summary: Get certificates for a subscription in the specified resource group.
      operationId: Certificates_GetCertificates
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}':
    get:
      tags:
        - Certificates
      summary: >-
        Get a certificate by certificate name for a subscription in the
        specified resource group.
      operationId: Certificates_GetCertificate
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of the certificate.
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Certificate'
      deprecated: false
    put:
      tags:
        - Certificates
      summary: Creates or modifies an existing certificate.
      operationId: Certificates_CreateOrUpdateCertificate
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of the certificate.
          required: true
          type: string
        - name: certificateEnvelope
          in: body
          description: Details of certificate if it exists already.
          required: true
          schema:
            $ref: '#/definitions/Certificate'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Certificate'
      deprecated: false
    delete:
      tags:
        - Certificates
      summary: >-
        Delete a certificate by name in a specificed subscription and
        resourcegroup.
      operationId: Certificates_DeleteCertificate
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of the certificate to be deleted.
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
    patch:
      tags:
        - Certificates
      summary: Creates or modifies an existing certificate.
      operationId: Certificates_UpdateCertificate
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of the certificate.
          required: true
          type: string
        - name: certificateEnvelope
          in: body
          description: Details of certificate if it exists already.
          required: true
          schema:
            $ref: '#/definitions/Certificate'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Certificate'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs':
    get:
      tags:
        - Certificates
      summary: >-
        Gets the certificate signing requests for a subscription in the
        specified resource group
      operationId: Certificates_GetCsrs
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Csr'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs/{name}':
    get:
      tags:
        - Certificates
      summary: >-
        Gets a certificate signing request by certificate name for a
        subscription in the specified resource group
      operationId: Certificates_GetCsr
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of the certificate.
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Csr'
      deprecated: false
    put:
      tags:
        - Certificates
      summary: Creates or modifies an existing certificate signing request.
      operationId: Certificates_CreateOrUpdateCsr
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of the certificate.
          required: true
          type: string
        - name: csrEnvelope
          in: body
          description: Details of certificate signing request if it exists already.
          required: true
          schema:
            $ref: '#/definitions/Csr'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Csr'
      deprecated: false
    delete:
      tags:
        - Certificates
      summary: Delete the certificate signing request.
      operationId: Certificates_DeleteCsr
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of the certificate signing request.
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
    patch:
      tags:
        - Certificates
      summary: Creates or modifies an existing certificate signing request.
      operationId: Certificates_UpdateCsr
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of the certificate.
          required: true
          type: string
        - name: csrEnvelope
          in: body
          description: Details of certificate signing request if it exists already.
          required: true
          schema:
            $ref: '#/definitions/Csr'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Csr'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices':
    get:
      tags:
        - ClassicMobileServices
      summary: Get all mobile services in a resource group.
      operationId: ClassicMobileServices_GetClassicMobileServices
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ClassicMobileServiceCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices/{name}':
    get:
      tags:
        - ClassicMobileServices
      summary: Get a mobile service.
      operationId: ClassicMobileServices_GetClassicMobileService
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of mobile service
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ClassicMobileService'
      deprecated: false
    delete:
      tags:
        - ClassicMobileServices
      summary: Delete a mobile service.
      operationId: ClassicMobileServices_DeleteClassicMobileService
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of mobile service
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains':
    get:
      tags:
        - Domains
      summary: Lists domains under a resource group
      operationId: Domains_GetDomains
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DomainCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}':
    get:
      tags:
        - Domains
      summary: Gets details of a domain
      operationId: Domains_GetDomain
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: domainName
          in: path
          description: Name of the domain
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Domain'
      deprecated: false
    put:
      tags:
        - Domains
      summary: Creates a domain
      operationId: Domains_CreateOrUpdateDomain
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: '&gt;Name of the resource group'
          required: true
          type: string
        - name: domainName
          in: path
          description: Name of the domain
          required: true
          type: string
        - name: domain
          in: body
          description: Domain registration information
          required: true
          schema:
            $ref: '#/definitions/Domain'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful
          schema:
            $ref: '#/definitions/Domain'
        '202':
          description: Domain purchase is in progress
          schema:
            $ref: '#/definitions/Domain'
      deprecated: false
    delete:
      tags:
        - Domains
      summary: Deletes a domain
      operationId: Domains_DeleteDomain
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: domainName
          in: path
          description: Name of the domain
          required: true
          type: string
        - name: forceHardDeleteDomain
          in: query
          description: >-
            If true then the domain will be deleted immediately instead of after
            24 hours
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: >-
            Domain does not exist in Azure database probably because it has
            already been deleted
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
    patch:
      tags:
        - Domains
      summary: Creates a domain
      operationId: Domains_UpdateDomain
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: '&gt;Name of the resource group'
          required: true
          type: string
        - name: domainName
          in: path
          description: Name of the domain
          required: true
          type: string
        - name: domain
          in: body
          description: Domain registration information
          required: true
          schema:
            $ref: '#/definitions/Domain'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful
          schema:
            $ref: '#/definitions/Domain'
        '202':
          description: Domain purchase is in progress
          schema:
            $ref: '#/definitions/Domain'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/operationresults/{operationId}':
    get:
      tags:
        - Domains
      summary: Retrieves the latest status of a domain purchase operation
      operationId: Domains_GetDomainOperation
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of the resource group
          required: true
          type: string
        - name: domainName
          in: path
          description: Name of the domain
          required: true
          type: string
        - name: operationId
          in: path
          description: Domain purchase operation Id
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful
          schema:
            $ref: '#/definitions/Domain'
        '202':
          description: Domain purchase is in progress
          schema:
            $ref: '#/definitions/Domain'
        '500':
          description: Domain purchase request failed
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/publishingCredentials':
    get:
      tags:
        - Global
      summary: Gets publishing credentials for the subscription owner
      operationId: Global_GetSubscriptionPublishingCredentials
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
      deprecated: false
    put:
      tags:
        - Global
      summary: Updates publishing credentials for the subscription owner
      operationId: Global_UpdateSubscriptionPublishingCredentials
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: requestMessage
          in: body
          description: requestMessage with new publishing credentials
          required: true
          schema:
            $ref: '#/definitions/User'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions':
    get:
      tags:
        - Global
      summary: Gets list of available geo regions
      operationId: Global_GetSubscriptionGeoRegions
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: sku
          in: query
          description: Filter only to regions that support this sku
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GeoRegionCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates':
    get:
      tags:
        - Global
      summary: Get all certificates for a subscription
      operationId: Global_GetAllCertificates
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms':
    get:
      tags:
        - Global
      summary: Gets all App Service Plans for a subcription
      operationId: Global_GetAllServerFarms
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: detailed
          in: query
          description: "False to return a subset of App Service Plan properties, true to return all of the properties.\r\n            Retrieval of all properties may increase the API latency."
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerFarmCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites':
    get:
      tags:
        - Global
      summary: Gets all Web Apps for a subscription
      operationId: Global_GetAllSites
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments':
    get:
      tags:
        - Global
      summary: >-
        Gets all hostingEnvironments (App Service Environment) for a
        subscription
      operationId: Global_GetAllHostingEnvironments
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HostingEnvironmentCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/managedHostingEnvironments':
    get:
      tags:
        - Global
      summary: Gets all managed hosting environments for a subscription
      operationId: Global_GetAllManagedHostingEnvironments
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ManagedHostingEnvironmentCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/classicMobileServices':
    get:
      tags:
        - Global
      summary: Gets all mobile services for a subscription
      operationId: Global_GetAllClassicMobileServices
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ClassicMobileServiceCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers':
    get:
      tags:
        - Global
      summary: List premier add on offers
      operationId: Global_ListPremierAddOnOffers
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable':
    get:
      tags:
        - Global
      summary: Whether hosting environment name is available
      operationId: Global_IsHostingEnvironmentNameAvailable
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: name
          in: query
          description: Hosting environment name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable/{name}':
    get:
      tags:
        - Global
      summary: Whether hosting environment name is available
      operationId: Global_IsHostingEnvironmentWithLegacyNameAvailable
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: name
          in: path
          description: Hosting environment name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability':
    post:
      tags:
        - Global
      summary: Check if resource name is available
      operationId: Global_CheckNameAvailability
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: Name availability request
          required: true
          schema:
            $ref: '#/definitions/ResourceNameAvailabilityRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceNameAvailability'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders':
    get:
      tags:
        - GlobalCertificateOrder
      summary: Lists all domains in a subscription
      operationId: GlobalCertificateOrder_GetAllCertificateOrders
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CertificateOrderCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation':
    post:
      tags:
        - GlobalCertificateOrder
      summary: Validate certificate purchase information
      operationId: GlobalCertificateOrder_ValidateCertificatePurchaseInformation
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: certificateOrder
          in: body
          description: Certificate order
          required: true
          schema:
            $ref: '#/definitions/CertificateOrder'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains':
    get:
      tags:
        - GlobalDomainRegistration
      summary: Lists all domains in a subscription
      operationId: GlobalDomainRegistration_GetAllDomains
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DomainCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest':
    post:
      tags:
        - GlobalDomainRegistration
      summary: Generates a single sign on request for domain management portal
      operationId: GlobalDomainRegistration_GetDomainControlCenterSsoRequest
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DomainControlCenterSsoRequest'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/validateDomainRegistrationInformation':
    post:
      tags:
        - GlobalDomainRegistration
      summary: Validates domain registration information
      operationId: GlobalDomainRegistration_ValidateDomainPurchaseInformation
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: domainRegistrationInput
          in: body
          description: Domain registration information
          required: true
          schema:
            $ref: '#/definitions/DomainRegistrationInput'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability':
    post:
      tags:
        - GlobalDomainRegistration
      summary: Checks if a domain is available for registration
      operationId: GlobalDomainRegistration_CheckDomainAvailability
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: identifier
          in: body
          description: Name of the domain
          required: true
          schema:
            $ref: '#/definitions/NameIdentifier'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DomainAvailablilityCheckResult'
      deprecated: false
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations':
    post:
      tags:
        - GlobalDomainRegistration
      summary: Lists domain recommendations based on keywords
      operationId: GlobalDomainRegistration_ListDomainRecommendations
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: parameters
          in: body
          description: Domain recommendation search parameters
          required: true
          schema:
            $ref: '#/definitions/DomainRecommendationSearchParameters'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NameIdentifierCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources':
    post:
      tags:
        - GlobalResourceGroups
      operationId: GlobalResourceGroups_MoveResources
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: resourceGroupName
          in: path
          required: true
          type: string
        - name: moveResourceEnvelope
          in: body
          required: true
          schema:
            $ref: '#/definitions/CsmMoveResourceEnvelope'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}':
    get:
      tags:
        - HostingEnvironments
      summary: Get properties of hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironment
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HostingEnvironment'
      deprecated: false
    put:
      tags:
        - HostingEnvironments
      summary: Create or update a hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_CreateOrUpdateHostingEnvironment
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: hostingEnvironmentEnvelope
          in: body
          description: Properties of hostingEnvironment (App Service Environment)
          required: true
          schema:
            $ref: '#/definitions/HostingEnvironment'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HostingEnvironment'
        '202':
          description: Operation is in progress
          schema:
            $ref: '#/definitions/HostingEnvironment'
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
      deprecated: false
      x-ms-long-running-operation: true
    delete:
      tags:
        - HostingEnvironments
      summary: Delete a hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_DeleteHostingEnvironment
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: forceDelete
          in: query
          description: >-
            Delete even if the hostingEnvironment (App Service Environment)
            contains resources
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '202':
          description: Operation is in progress
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
      deprecated: false
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get diagnostic information for hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentDiagnostics
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/HostingEnvironmentDiagnostics'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get diagnostic information for hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentDiagnosticsItem
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: diagnosticsName
          in: path
          description: Name of the diagnostics
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HostingEnvironmentDiagnostics'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get used, available, and total worker capacity for hostingEnvironment
        (App Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentCapacities
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StampCapacityCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get IP addresses assigned to the hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentVips
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AddressResponse'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get all hostingEnvironments (App Service Environments) in a resource
        group.
      operationId: HostingEnvironments_GetHostingEnvironments
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HostingEnvironmentCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/reboot':
    post:
      tags:
        - HostingEnvironments
      summary: Reboots all machines in a hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_RebootHostingEnvironment
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Asynchronous operation in progress
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        List all currently running operations on the hostingEnvironment (App
        Service Environment)
      operationId: HostingEnvironments_GetHostingEnvironmentOperations
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations/{operationId}':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get status of an operation on a hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentOperation
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: operationId
          in: path
          description: operation identifier GUID
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Operation completed successfully
          schema:
            $ref: '#/definitions/Object'
        '202':
          description: Asynchronous operation in progress
          schema:
            $ref: '#/definitions/Object'
        '404':
          description: Not found
        '500':
          description: Operation failed
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics':
    get:
      tags:
        - HostingEnvironments
      summary: Get global metrics of hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentMetrics
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: details
          in: query
          description: Include instance details
          type: boolean
        - name: $filter
          in: query
          description: >-
            Return only usages/metrics specified in the filter. Filter conforms
            to odata syntax. Example: $filter=(name.value eq 'Metric1' or
            name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and
            endTime eq '2014-12-31T23:59:59Z' and timeGrain eq
            duration'[Hour|Minute|Day]'.
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceMetricCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get global metric definitions of hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentMetricDefinitions
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDefinition'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/usages':
    get:
      tags:
        - HostingEnvironments
      summary: Get global usages of hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentUsages
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: $filter
          in: query
          description: >-
            Return only usages/metrics specified in the filter. Filter conforms
            to odata syntax. Example: $filter=(name.value eq 'Metric1' or
            name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and
            endTime eq '2014-12-31T23:59:59Z' and timeGrain eq
            duration'[Hour|Minute|Day]'.
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CsmUsageQuotaCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metrics':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get metrics for a multiRole pool of a hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentMultiRoleMetrics
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: startTime
          in: query
          description: Beginning time of metrics query
          type: string
        - name: endTime
          in: query
          description: End time of metrics query
          type: string
        - name: timeGrain
          in: query
          description: Time granularity of metrics query
          type: string
        - name: details
          in: query
          description: Include instance details
          type: boolean
        - name: $filter
          in: query
          description: >-
            Return only usages/metrics specified in the filter. Filter conforms
            to odata syntax. Example: $filter=(name.value eq 'Metric1' or
            name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and
            endTime eq '2014-12-31T23:59:59Z' and timeGrain eq
            duration'[Hour|Minute|Day]'.
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceMetricCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metrics':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get metrics for a worker pool of a hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentWebWorkerMetrics
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: workerPoolName
          in: path
          description: Name of worker pool
          required: true
          type: string
        - name: details
          in: query
          description: Include instance details
          type: boolean
        - name: $filter
          in: query
          description: >-
            Return only usages/metrics specified in the filter. Filter conforms
            to odata syntax. Example: $filter=(name.value eq 'Metric1' or
            name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and
            endTime eq '2014-12-31T23:59:59Z' and timeGrain eq
            duration'[Hour|Minute|Day]'.
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceMetricCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get metric definitions for a multiRole pool of a hostingEnvironment (App
        Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentMultiRoleMetricDefinitions
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDefinitionCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metricdefinitions':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get metric definitions for a worker pool of a hostingEnvironment (App
        Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentWebWorkerMetricDefinitions
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: workerPoolName
          in: path
          description: Name of worker pool
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDefinitionCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get usages for a multiRole pool of a hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentMultiRoleUsages
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UsageCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/usages':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get usages for a worker pool of a hostingEnvironment (App Service
        Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentWebWorkerUsages
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: workerPoolName
          in: path
          description: Name of worker pool
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UsageCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/sites':
    get:
      tags:
        - HostingEnvironments
      summary: Get all sites on the hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentSites
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: propertiesToInclude
          in: query
          description: Comma separated list of site properties to include
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/webhostingplans':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get all serverfarms (App Service Plans) on the hostingEnvironment (App
        Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentWebHostingPlans
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerFarmCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/serverfarms':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get all serverfarms (App Service Plans) on the hostingEnvironment (App
        Service Environment).
      operationId: HostingEnvironments_GetHostingEnvironmentServerFarms
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerFarmCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools':
    get:
      tags:
        - HostingEnvironments
      summary: Get all multi role pools
      operationId: HostingEnvironments_GetMultiRolePools
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkerPoolCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default':
    get:
      tags:
        - HostingEnvironments
      summary: Get properties of a multiRool pool.
      operationId: HostingEnvironments_GetMultiRolePool
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkerPool'
      deprecated: false
    put:
      tags:
        - HostingEnvironments
      summary: Create or update a multiRole pool.
      operationId: HostingEnvironments_CreateOrUpdateMultiRolePool
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: multiRolePoolEnvelope
          in: body
          description: Properties of multiRole pool
          required: true
          schema:
            $ref: '#/definitions/WorkerPool'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkerPool'
        '202':
          description: Operation is in progress
          schema:
            $ref: '#/definitions/WorkerPool'
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
      deprecated: false
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus':
    get:
      tags:
        - HostingEnvironments
      summary: Get available skus for scaling a multiRole pool.
      operationId: HostingEnvironments_GetMultiRolePoolSkus
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SkuInfoCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools':
    get:
      tags:
        - HostingEnvironments
      summary: Get all worker pools
      operationId: HostingEnvironments_GetWorkerPools
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkerPoolCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}':
    get:
      tags:
        - HostingEnvironments
      summary: Get properties of a worker pool.
      operationId: HostingEnvironments_GetWorkerPool
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: workerPoolName
          in: path
          description: Name of worker pool
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkerPool'
      deprecated: false
    put:
      tags:
        - HostingEnvironments
      summary: Create or update a worker pool.
      operationId: HostingEnvironments_CreateOrUpdateWorkerPool
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: workerPoolName
          in: path
          description: Name of worker pool
          required: true
          type: string
        - name: workerPoolEnvelope
          in: body
          description: Properties of worker pool
          required: true
          schema:
            $ref: '#/definitions/WorkerPool'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkerPool'
        '202':
          description: Operation is in progress
          schema:
            $ref: '#/definitions/WorkerPool'
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
      deprecated: false
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/skus':
    get:
      tags:
        - HostingEnvironments
      summary: Get available skus for scaling a worker pool.
      operationId: HostingEnvironments_GetWorkerPoolSkus
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: workerPoolName
          in: path
          description: Name of worker pool
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SkuInfoCollection'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metrics':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get metrics for a specific instance of a worker pool of a
        hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_GetWorkerPoolInstanceMetrics
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: workerPoolName
          in: path
          description: Name of worker pool
          required: true
          type: string
        - name: instance
          in: path
          description: Name of instance in the worker pool
          required: true
          type: string
        - name: details
          in: query
          description: Include instance details
          type: boolean
        - name: $filter
          in: query
          description: >-
            Return only usages/metrics specified in the filter. Filter conforms
            to odata syntax. Example: $filter=(name.value eq 'Metric1' or
            name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and
            endTime eq '2014-12-31T23:59:59Z' and timeGrain eq
            duration'[Hour|Minute|Day]'.
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metricdefinitions':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get metric definitions for a specific instance of a worker pool of a
        hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_GetWorkerPoolInstanceMetricDefinitions
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: workerPoolName
          in: path
          description: Name of worker pool
          required: true
          type: string
        - name: instance
          in: path
          description: Name of instance in the worker pool
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metrics':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get metrics for a specific instance of a multiRole pool of a
        hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_GetMultiRolePoolInstanceMetrics
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: instance
          in: path
          description: Name of instance in the multiRole pool
          required: true
          type: string
        - name: details
          in: query
          description: Include instance details
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions':
    get:
      tags:
        - HostingEnvironments
      summary: >-
        Get metric definitions for a specific instance of a multiRole pool of a
        hostingEnvironment (App Service Environment).
      operationId: HostingEnvironments_GetMultiRolePoolInstanceMetricDefinitions
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - name: instance
          in: path
          description: Name of instance in the multiRole pool&gt;
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      deprecated: false
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/suspend':
    post:
      tags:
        - HostingEnvironments
      summary: Suspends the hostingEnvironment.
      operationId: HostingEnvironments_SuspendHostingEnvironment
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
          description: Name of hostingEnvironment (App Service Environment)
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteCollection'
        '202':
          description: Operation is in progress
          schema:
            $ref: '#/definitions/SiteCollection'
      deprecated: false
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/resume':
    post:
      tags:
        - HostingEnvironments
      summary: Resumes the hostingEnvironment.
      operationId: HostingEnvironments_ResumeHostingEnvironment
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceGroupName
          in: path
          description: Name of resource group
          required: true
          type: string
        - name: name
          in: path
[...]
