{
  "swagger": "2.0",
  "info": {
    "title": "LongRunningValidResponse",
    "description": "long running put operations' responses are modeled correctly with aleast one successful terminal code",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/foo": {
      "put": {
        "operationId": "Foo_Create",
        "summary": "Foo path",
        "description": "Foo operation",
        "x-ms-long-running-operation": true,
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          }
        }
      },
      "post": {
        "operationId": "Foo_Post",
        "summary": "Foo path",
        "description": "Foo operation",
        "x-ms-long-running-operation": true,
        "responses": {
          "201": {
            "description": "Created."
          }
        }
      },
      "delete": {
        "operationId": "Foo_Delete",
        "summary": "Foo path",
        "description": "Foo operation",
        "x-ms-long-running-operation": true,
        "responses": {
          "204": {
            "description": "No Content."
          }
        }
      }
    }
  },
  "definitions": {
    "StorageAccount": {
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the Kind.",
          "enum": [
            "Storage",
            "BlobStorage"
          ],
          "x-ms-enum": {
            "name": "Kind",
            "modelAsString": false
          }
        }
      },
      "description": "The storage account."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test subscription id"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test api version"
    }
  }
}
