{
    "swagger": "2.0",
    "info": {
        "title": "Microsoft Azure Redis Cache Management API",
        "description": "Some cool documentation.",
        "version": "2014-04-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/Microsoft.Cache/Redis?api-version={apiVersion}": {
            "get": {
                "description": "Creates a new product in the store.  Duplicates are allowed",
                "operationId": "addProduct",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "Subscription Id.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Resource Group Id.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "API Id.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product response"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                }
            }
        }
    },
  "definitions": {
    "Product": {
      "properties": {
        "product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "description": {
          "type": "string",
          "description": "Description of product."
        },
        "display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "capacity": {
          "type": "string",
          "description": "Capacity of product. For example, 4 people."
        },
        "image": {
          "type": "string",
          "description": "Image URL representing the product."
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  }
}
