enable-pre-post-scripts=true
only-built-dependencies[]=tree-sitter
only-built-dependencies[]=tree-sitter-javascript
only-built-dependencies[]=tree-sitter-python
only-built-dependencies[]=tree-sitter-typescript
