<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <!--for xunit crossplatform support. Remove this file once in nuget.org-->
    <add key="myget-xunit" value="https://www.myget.org/F/xunit" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="myget-xunit" value="https://www.myget.org/F/xunit" />
  </activePackageSource>
</configuration>