{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Test Url",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}": {
      "get": {
        "operationId": "group_getSampleResourceGroup",
        "summary": "get resouce group",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource Group Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiVersion",
            "in": "query",
            "description": "API Version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A sample resource group",
            "schema": {
              "$ref": "SampleResourceGroup"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SampleResourceGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "resource group name"
        },
        "location": {
          "type": "string",
          "description": "resource group location"
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
