{
  "swagger": "2.0",
  "info": {
    "title": "InsightsManagementClient",
    "version": "2016-03-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents/{incidentName}": {
      "get": {
        "description": "Gets an incident associated to an alert rule",
        "tags": [
          "AlertRuleIncidents"
        ],
        "operationId": "AlertRuleIncidents_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "name": "incidentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the incident to retrieve."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for one alert rule related incident",
            "schema": {
              "$ref": "#/definitions/Incident"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents": {
      "get": {
        "description": "Gets a list of incidents associated to an alert rule",
        "tags": [
          "Incidents"
        ],
        "operationId": "Incidents_ListByAlertRule",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of alert rule related incidents",
            "schema": {
              "$ref": "#/definitions/IncidentListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}": {
      "put": {
        "description": "Creates or updates an alert rule",
        "tags": [
          "AlertRules"
        ],
        "operationId": "AlertRules_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlertRuleResource"
            },
            "description": "The parameters of the rule to create or update."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to create or update an alert rule",
            "schema": {
              "$ref": "#/definitions/AlertRuleResource"
            }
          },
          "201": {
            "description": "Created alert rule",
            "schema": {
              "$ref": "#/definitions/AlertRuleResource"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an alert rule",
        "tags": [
          "AlertRules"
        ],
        "operationId": "AlertRules_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No content: the request was successful, but the response is empty"
          },
          "200": {
            "description": "Successful request to delete an alert rule"
          }
        }
      },
      "get": {
        "description": "Gets an alert rule",
        "tags": [
          "AlertRules"
        ],
        "operationId": "AlertRules_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get an alert rule",
            "schema": {
              "$ref": "#/definitions/AlertRuleResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules": {
      "get": {
        "tags": [
          "AlertRules"
        ],
        "operationId": "AlertRules_ListByResourceGroup",
        "description": "List the alert rules within a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request for a list of alert rules",
            "schema": {
              "$ref": "#/definitions/AlertRuleResourceCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-odata": "#/definitions/AlertRuleResource"
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles/{logProfileName}": {
      "delete": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_Delete",
        "description": "Deletes the log profile.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to delete a log profile"
          }
        }
      },
      "get": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_Get",
        "description": "Gets the log profile.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get more information about a log profile.",
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            }
          }
        }
      },
      "put": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_CreateOrUpdate",
        "description": "Create or update the log profile.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogProfileCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to create or update a log profile",
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles": {
      "get": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_List",
        "description": "List the log profiles.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to list log profiles",
            "schema": {
              "$ref": "#/definitions/LogProfileCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "Incident": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Incident name."
        },
        "ruleName": {
          "readOnly": true,
          "type": "string",
          "description": "Rule name that is associated with the incident."
        },
        "isActive": {
          "readOnly": true,
          "type": "boolean",
          "description": "A boolean to indicate whether the incident is active or resolved."
        },
        "activatedTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time at which the incident was activated in ISO8601 format."
        },
        "resolvedTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time at which the incident was resolved in ISO8601 format. If null, it means the incident is still active."
        }
      },
      "description": "An alert incident indicates the activation status of an alert rule."
    },
    "IncidentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Incident"
          },
          "description": "the incident collection."
        }
      },
      "description": "The List incidents operation response."
    },
    "RuleCondition": {
      "type": "object",
      "discriminator": "odata.type",
      "properties": {
        "odata.type": {
          "type": "string",
          "description": "specifies the type of condition."
        }
      },
      "required": [ "odata.type" ],
      "description": "The condition that results in the alert rule being activated."
    },
    "RuleDataSource": {
      "type": "object",
      "discriminator": "odata.type",
      "properties": {
        "odata.type": {
          "type": "string",
          "description": "specifies the type of data source."
        }
      },
      "required": [ "odata.type" ],
      "description": "The resource from which the rule collects its data."
    },
    "RuleMetricDataSource": {
      "x-ms-discriminator-value": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RuleDataSource"
        }
      ],
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "the resource identifier of the resource the rule monitors."
        },
        "metricName": {
          "type": "string",
          "description": "the name of the metric that defines what the rule monitors."
        }
      },
      "description": "A rule metric data source."
    },
    "RuleManagementEventClaimsDataSource": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "the email address."
        }
      },
      "description": "The claims for a rule management event data source."
    },
    "RuleManagementEventDataSource": {
      "x-ms-discriminator-value": "Microsoft.Azure.Management.Insights.Models.RuleManagementEventDataSource",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RuleDataSource"
        }
      ],
      "properties": {
        "eventName": {
          "type": "string",
          "description": "the event name."
        },
        "eventSource": {
          "type": "string",
          "description": "the event source."
        },
        "level": {
          "type": "string",
          "description": "the level."
        },
        "operationName": {
          "type": "string",
          "description": "The name of the operation that should be checked for. If no name is provided, any operation will match."
        },
        "resourceGroupName": {
          "type": "string",
          "description": "the resource group name."
        },
        "resourceProviderName": {
          "type": "string",
          "description": "the resource provider name."
        },
        "resourceUri": {
          "type": "string",
          "description": "the resource uri."
        },
        "status": {
          "type": "string",
          "description": "The status of the operation that should be checked for. If no status is provided, any status will match."
        },
        "subStatus": {
          "type": "string",
          "description": "the substatus."
        },
        "claims": {
          "$ref": "#/definitions/RuleManagementEventClaimsDataSource",
          "description": "the claims."
        }
      },
      "description": "A rule management event data source."
    },
    "ConditionOperator": {
      "type": "string",
      "enum": [
        "GreaterThan",
        "GreaterThanOrEqual",
        "LessThan",
        "LessThanOrEqual"
      ],
      "x-ms-enum": {
        "name": "ConditionOperator",
        "modelAsString": false
      }
    },
    "TimeAggregationOperator": {
      "type": "string",
      "enum": [
        "Average",
        "Minimum",
        "Maximum",
        "Total",
        "Last"
      ],
      "x-ms-enum": {
        "name": "TimeAggregationOperator",
        "modelAsString": false
      }
    },
    "ThresholdRuleCondition": {
      "x-ms-discriminator-value": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RuleCondition"
        }
      ],
      "required": [ "threshold", "operator" ],
      "properties": {
        "dataSource": {
          "$ref": "#/definitions/RuleDataSource",
          "description": "the resource from which the rule collects its data."
        },
        "operator": {
          "$ref": "#/definitions/ConditionOperator",
          "description": "the operator used to compare the data and the threshold."
        },
        "threshold": {
          "type": "number",
          "format": "double",
          "description": "the threshold value that activates the alert."
        },
        "windowSize": {
          "type": "string",
          "format": "duration",
          "description": "the period of time (in ISO 8601 duration format) that is used to monitor alert activity based on the threshold. If specified then it must be between 5 minutes and 1 day."
        },
        "timeAggregation": {
          "$ref": "#/definitions/TimeAggregationOperator",
          "description": "the time aggregation operator. How the data that is collected should be combined over time. The default value is the PrimaryAggregationType of the Metric."
        }
      },
      "description": "A rule condition based on a metric crossing a threshold."
    },
    "LocationThresholdRuleCondition": {
      "x-ms-discriminator-value": "Microsoft.Azure.Management.Insights.Models.LocationThresholdRuleCondition",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RuleCondition"
        }
      ],
      "properties": {
        "dataSource": {
          "$ref": "#/definitions/RuleDataSource",
          "description": "the resource from which the rule collects its data."
        },
        "windowSize": {
          "type": "string",
          "format": "duration",
          "description": "the period of time (in ISO 8601 duration format) that is used to monitor alert activity based on the threshold. If specified then it must be between 5 minutes and 1 day."
        },
        "failedLocationCount": {
          "type": "integer",
          "format": "int32",
          "description": "the number of locations that must fail to activate the alert."
        }
      },
      "required": [ "failedLocationCount" ],
      "description": "A rule condition based on a certain number of locations failing."
    },
    "ManagementEventAggregationCondition": {
      "properties": {
        "operator": {
          "$ref": "#/definitions/ConditionOperator",
          "description": "the condition operator."
        },
        "threshold": {
          "type": "number",
          "format": "double",
          "description": "the condition threshold."
        },
        "windowSize": {
          "type": "string",
          "format": "duration",
          "description": "the period of time (in ISO 8601 duration format) that is used to monitor alert activity based on the threshold. If specified then it must be between 5 minutes and 1 day."
        }
      },
      "description": "A management event aggregation condition."
    },
    "ManagementEventRuleCondition": {
      "x-ms-discriminator-value": "Microsoft.Azure.Management.Insights.Models.ManagementEventRuleCondition",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RuleCondition"
        }
      ],
      "properties": {
        "dataSource": {
          "$ref": "#/definitions/RuleDataSource",
          "description": "the resource from which the rule collects its data."
        },
        "aggregation": {
          "$ref": "#/definitions/ManagementEventAggregationCondition",
          "description": "the aggregation condition."
        }
      },
      "description": "A management event rule condition."
    },
    "RuleAction": {
      "type": "object",
      "discriminator": "odata.type",
      "properties": {
        "odata.type": {
          "type": "string"
        }
      },
      "required": [ "odata.type" ],
      "description": "The action that is performed when the alert rule becomes active, and when an alert condition is resolved."
    },
    "RuleEmailAction": {
      "x-ms-discriminator-value": "Microsoft.Azure.Management.Insights.Models.RuleEmailAction",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RuleAction"
        }
      ],
      "properties": {
        "sendToServiceOwners": {
          "type": "boolean",
          "description": "the flag to send e-mails to the service owners. Whether the administrators (service and co-adiminstrators) of the service should be notified when the alert is activated."
        },
        "customEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "the list of administrator's custom email addresses notifiy of the activation of the alert."
        }
      },
      "description": "Specifies the action to send email when the rule condition is evaluated."
    },
    "RuleWebhookAction": {
      "x-ms-discriminator-value": "Microsoft.Azure.Management.Insights.Models.RuleWebhookAction",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RuleAction"
        }
      ],
      "properties": {
        "serviceUri": {
          "type": "string",
          "description": "the service uri to Post the notitication."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "the dictionary of custom properties to include with the post operation."
        }
      },
      "description": "Specifies the action to post to service when the rule condition is evaluated."
    },
    "AlertRule": {
      "required": [
        "name",
        "isEnabled"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "the name of the alert rule."
        },
        "description": {
          "type": "string",
          "description": "the description of the alert rule that will be included in the alert email."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "the flag that indicates whether the alert rule is enabled."
        },
        "condition": {
          "$ref": "#/definitions/RuleCondition",
          "description": "the condition that results in the alert rule being activated."
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleAction"
          },
          "description": "the actions that are performed when the alert rule becomes active, and when an alert condition is resolved."
        },
        "lastUpdatedTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Last time the rule was updated in ISO8601 format."
        }
      },
      "description": "An alert rule."
    },
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "AlertRuleResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AlertRule"
        }
      },
      "description": "The alert rule resource."
    },
    "AlertRuleResourceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AlertRuleResource"
          },
          "description": "the values for the alert rule resources."
        }
      },
      "description": "Represents a collection of alert rule resources."
    },
    "RetentionPolicy": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "a value indicating whether the retention policy is enabled."
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "description": "the number of days for the retention."
        }
      },
      "required": [ "enabled", "days" ],
      "description": "Specifies the retention policy for the log."
    },
    "LogProfileCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LogProfile",
          "description": "The properties envelope to create a Log Profile."
        }
      },
      "description": "Paramters to create a new Log Profile"
    },
    "LogProfile": {
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "the resource id of the storage account."
        },
        "serviceBusRuleId": {
          "type": "string",
          "description": "the resource id of the service bus rule."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "the locations."
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": " the categories."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "the retention policy for this log."
        }
      },
      "description": "The log profile."
    },
    "LogProfileResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LogProfile"
        }
      },
      "description": "The log profile resource."
    },
    "LogProfileCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogProfileResource"
          },
          "description": "the values of the log profiles."
        }
      },
      "description": "Represents a collection of log profiles."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "RuleNameParameter": {
      "name": "ruleName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the rule.",
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The filter to apply on the operation. For more information please see https://msdn.microsoft.com/en-us/library/azure/dn931934.aspx",
      "x-ms-parameter-location": "method"
    },
    "LogProfileNameParameter": {
      "name": "logProfileName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the log profile.",
      "x-ms-parameter-location": "method"
    }
  }
}