{
  "swagger": "2.0",
  "info": {
    "title": "Optional Parameter test spec",
    "description": "Test correct generation of optional method parameters",
    "version": "1.0"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/params": {
      "get": {
        "operationId": "Widgets_List",
        "summary": "List all the wdigets",
        "description": "List all the widgets",
        "parameters": [
          {
            "name": "intParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "integer"
          },
           {
            "name": "longParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "integer",
            "format":  "int64"
          },
          {
            "name": "floatParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "number",
            "format":  "float"
          },
          {
            "name": "doubleParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "number",
            "format":  "double"
          },
          {
            "name": "byteParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "string",
            "format":  "byte"
          },
          {
            "name": "booleanParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "boolean"
          },
          {
            "name": "dateParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "string",
            "format":  "date"
          },
          {
            "name": "datetimeParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "string",
            "format":  "date-time"
          },
         {
            "name": "api-version",
            "in": "query",
            "description": "API version",
            "type": "string"
          }
        ],
        "tags": [
          "Widgets"
        ],
        "responses": {
          "200": {
            "description": "A list of widgets",
            "schema": {
              "type":  "array",
              "description":  "A list of widgets",
              "items":  {
                "$ref": "#/definitions/Widget"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/widgets/{id}": {
      "get": {
        "operationId": "Widgets_Get",
        "summary": "Get a wdiget by Id",
        "description": "Get a widget by id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the widget to get",
            "required": true,
            "type": "string"
          },
          {
            "name": "intParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "integer"
          },
           {
            "name": "longParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "integer",
            "format":  "int64"
          },
          {
            "name": "floatParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "number",
            "format":  "float"
          },
          {
            "name": "doubleParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "number",
            "format":  "double"
          },
          {
            "name": "byteParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "string",
            "format":  "byte"
          },
          {
            "name": "booleanParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "boolean"
          },
          {
            "name": "dateParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "string",
            "format":  "date"
          },
          {
            "name": "datetimeParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "string",
            "format":  "date-time"
          }
        ],
        "tags": [
          "Widgets"
        ],
        "responses": {
          "200": {
            "description": "The returned product",
            "schema": {
              "$ref": "#/definitions/Widget"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Widget": {
      "properties": {
        "product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "description": {
          "type": "string",
          "description": "Description of product."
        },
        "display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "capacity": {
          "type": "string",
          "description": "Capacity of product. For example, 4 people."
        },
        "image": {
          "type": "string",
          "description": "Image URL representing the product."
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  }
}
