{
  "swagger": "2.0",
  "info": {
    "title": "Property names should be camelCase style",
    "description": "Some documentation.",
    "version": "2017-02-08"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/foo": {
      "put": {
        "operationId": "PutFoo",
        "summary": "Foo path",
        "description": "Foo operation",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "propCamelCase": {
                  "type": "string"
                }
			  }
            },
            "description": "The parameters to provide for the updated account."
          }
        ],
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/bar": {
      "get": {
        "operationId": "GetBar",
        "summary": "Bar path",
        "description": "Bar operation",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ParameterWithExtraProperty"
            },
            "description": "The parameters to provide for the operation."
          }
        ],
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "definitions": {
    "ParameterWithExtraProperty": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Required. Indicates the type of account.",
          "enum": [
            "Storage",
            "BlobStorage"
          ],
          "x-ms-enum": {
            "name": "Kind",
            "modelAsString": false
          }
        },
        "startIP": {
          "type": "string",
          "description": "Required. Indicates the start IP range.",
        },
        "location": {
          "type": "string",
          "description": "Required. Gets or sets the location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo region is specified on update the request will succeed."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        }
      },
      "required": [
        "location"
      ],
      "description": "The parameters to provide for the parameter."
    }
  },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "test subscription id"
      },
      "ApiVersion": {
        "name": "api-version",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "test api version"
      }
    }
  }