{
  "swagger": "2.0",
  "info": {
    "title": "Operations schemes has non-http/https type",
    "description": "Some documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "Https"
  ],
  "basePath": "/",
  "paths": {
    "/Subscriptions/{subscriptionId}/ResourceGroups/{resourceGroupName}/providers/DefaultNamespace/Microsoft.Services/{serviceName}/Microsoft.Providers/{providerName}": {
      "post": {
        "operationId": "Noun_Verb",
        "summary": "Foo path",
        "description": "Foo operation",
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "schemes": [
          "Https"
        ]
      }
    },
    "/operations": {
      "get": {
        "summary": "Lists all foo.",
        "description": "foo",
        "operationId": "Operations_List",
        "parameters": [
          {
            "name": "limit",
            "type": "string",
            "description": "foo"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          }
        }
      }
    }
  },
  "x-ms-paths": {
    "/Subscriptions/{subscriptionId}/ResourceGroups/{resourceGroupName}/providers/DefaultNamespace/Microsoft.Services/{serviceName}/Microsoft.Providers/{providerName}?id={id}": {
      "post": {
        "operationId": "Noun_Verb",
        "summary": "Foo path",
        "description": "Foo operation",
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "schemes": [
          "Https"
        ]
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test subscription id"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test api version"
    }
  },
  "definitions": {
    "OperationsListResult": {
      "description": "List of operations",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "the operation"
          },
          "description": "List of Operations"
        }
      }
    }
  }
}