{
  "swagger": "2.0",
  "info": {
    "title": "RequiredPropertyDefinedAllOf",
    "description": "A spec file with required properties that are defined in ancestors",
    "version": "2016-08-12"
  },
  "host": "contoso.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/operations": {
      "get": {
        "summary": "Lists all foo.",
        "description": "foo",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "limit",
            "type": "string",
            "description": "foo"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get operations": {
            
          }
        }
      }
    },
    "/foo": {
      "post": {
        "operationId": "PostFoo",
        "summary": "Foo path",
        "description": "Foo operation",
        "responses": {
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Post Foo": {

          }
        }
      }
    }
  },
  "definitions": {
    "BaseError": {
      "description": "Base error",
      "properties": {
        "foo": {
          "type": "string",
          "description": "foo property"
        }
      }
    },
    "ParentError": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseError"
        }
      ],
      "description": "Parent error",
      "properties": {
        "bar": {
          "type": "string",
          "description": "bar property"
        }
      }
    },
    "Error": {
      "allOf": [
        {
          "$ref": "#/definitions/ParentError"
        }
      ],
      "description": "Default error",
      "required": [
        "foo",
        "bar",
        "baz"
      ],
      "properties": {
        "baz": {
          "description": "baz property",
          "type": "string"
        }
      }
    },
    "OperationsListResult": {
      "description": "List of operations",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Operations"
        }
      }
    },
    "Operation": {
      "description": "Description of Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name",
          "type": "string"
        },
        "display": {
          "description": "foo",
          "properties": {
            "provider": {
              "description": "Service provider",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test subscription id"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test api version"
    }
  }
}