{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Redis Cache Management API",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}": {
      "get": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_get",
        "description": "gets a Redis cache.",
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "required": true,
            "description": "redis cache to get",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "the resource",
            "schema": {
              "$ref": "#/definitions/TempResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/Res": {
      "patch": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_update",
        "description": "gets a Redis cache.",
        "parameters": [
          {
            "name": "tag",
            "type": "string",
            "required": true,
            "description": "tag to update"
          }
        ],
        "responses": {
          "200": {
            "description": "the resource patched",
            "schema": {
              "$ref": "#/definitions/TempResource"
            }
          }
        }
      }
    },
    "/operations": {
      "get": {
        "summary": "Lists all foo.",
        "description": "foo",
        "operationId": "Operations_List",
        "parameters": [
          {
            "name": "limit",
            "type": "string",
            "description": "foo"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "TempResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "temporary resource",
      "properties": {
        "prop0": {
          "type": "string"
        }
      }
    },
    "OperationsListResult": {
      "description": "List of operations",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of Operations"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParamterer": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "apiVersion",
      "in": "path",
      "description": "API ID.",
      "required": true,
      "type": "string"
    }
  }
}