{
  "swagger": "2.0",
  "info": {
    "title": "Azure Storage resource management API.",
    "version": "2022-09-01",
    "description": "The Azure Storage Management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StorageAccounts"
    },
    {
      "name": "DeletedAccounts"
    },
    {
      "name": "ManagementPolicies"
    },
    {
      "name": "BlobInventoryPolicies"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "ObjectReplicationPoliciesOperationGroup"
    },
    {
      "name": "LocalUsersOperationGroup"
    },
    {
      "name": "EncryptionScopes"
    },
    {
      "name": "BlobServicePropertiesOperationGroup"
    },
    {
      "name": "BlobContainers"
    },
    {
      "name": "ImmutabilityPolicies"
    },
    {
      "name": "FileServicePropertiesOperationGroup"
    },
    {
      "name": "FileShares"
    },
    {
      "name": "QueueServicePropertiesOperationGroup"
    },
    {
      "name": "StorageQueues"
    },
    {
      "name": "TableServicePropertiesOperationGroup"
    },
    {
      "name": "Tables"
    },
    {
      "name": "SkusOperations"
    },
    {
      "name": "StorageAccountsOperations"
    },
    {
      "name": "DeletedAccountsOperations"
    },
    {
      "name": "UsagesOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Storage/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability": {
      "post": {
        "operationId": "StorageAccounts_CheckNameAvailability",
        "tags": [
          "StorageAccountsOperations"
        ],
        "description": "Checks that the storage account name is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccountCheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/deletedAccounts": {
      "get": {
        "operationId": "DeletedAccounts_List",
        "tags": [
          "DeletedAccountsOperations"
        ],
        "description": "Lists deleted accounts under the subscription.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeletedAccountListResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/deletedAccounts/{deletedAccountName}": {
      "get": {
        "operationId": "DeletedAccounts_Get",
        "tags": [
          "DeletedAccounts"
        ],
        "description": "Get properties of specified deleted account resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "deletedAccountName",
            "in": "path",
            "description": "Name of the deleted storage account.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletedAccountGet": {
            "$ref": "./examples/DeletedAccountGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/usages": {
      "get": {
        "operationId": "Usages_ListByLocation",
        "tags": [
          "UsagesOperations"
        ],
        "description": "Gets the current usage count and the limit for the resources of the location under the subscription.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UsageListResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus": {
      "get": {
        "operationId": "Skus_List",
        "tags": [
          "SkusOperations"
        ],
        "description": "Lists the available SKUs supported by Microsoft.Storage for given subscription.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StorageSkuListResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts": {
      "get": {
        "operationId": "StorageAccounts_List",
        "tags": [
          "StorageAccounts"
        ],
        "description": "Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StorageAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountList": {
            "$ref": "./examples/StorageAccountList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts": {
      "get": {
        "operationId": "StorageAccounts_ListByResourceGroup",
        "tags": [
          "StorageAccounts"
        ],
        "description": "Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StorageAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountListByResourceGroup": {
            "$ref": "./examples/StorageAccountListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}": {
      "get": {
        "operationId": "StorageAccounts_GetProperties",
        "tags": [
          "StorageAccounts"
        ],
        "description": "Returns the properties for the specified storage account including but not limited to name, SKU name, location, and account status. The ListKeys operation should be used to retrieve storage keys.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the properties within account's properties. By default, data is not included when fetching properties. Currently we only support geoReplicationStats and blobRestoreStatus.",
            "required": false,
            "type": "string",
            "enum": [
              "geoReplicationStats",
              "blobRestoreStatus"
            ],
            "x-ms-enum": {
              "name": "StorageAccountExpand",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountGetAsyncSkuConversionStatus": {
            "$ref": "./examples/StorageAccountGetAsyncSkuConversionStatus.json"
          },
          "StorageAccountGetProperties": {
            "$ref": "./examples/StorageAccountGetProperties.json"
          },
          "StorageAccountGetPropertiesCMKEnabled": {
            "$ref": "./examples/StorageAccountGetPropertiesCMKEnabled.json"
          },
          "StorageAccountGetPropertiesCMKVersionExpirationTime": {
            "$ref": "./examples/StorageAccountGetPropertiesCMKVersionExpirationTime.json"
          }
        }
      },
      "put": {
        "operationId": "StorageAccounts_Create",
        "tags": [
          "StorageAccounts"
        ],
        "description": "Asynchronously creates a new storage account with the specified parameters. If an account is already created and a subsequent create request is issued with different properties, the account properties will be updated. If an account is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The parameters to provide for the created account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StorageAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          },
          "201": {
            "description": "Resource 'StorageAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NfsV3AccountCreate": {
            "$ref": "./examples/NfsV3AccountCreate.json"
          },
          "StorageAccountCreate": {
            "$ref": "./examples/StorageAccountCreate.json"
          },
          "StorageAccountCreateAllowedCopyScopeToAAD": {
            "$ref": "./examples/StorageAccountCreateAllowedCopyScopeToAAD.json"
          },
          "StorageAccountCreateAllowedCopyScopeToPrivateLink": {
            "$ref": "./examples/StorageAccountCreateAllowedCopyScopeToPrivateLink.json"
          },
          "StorageAccountCreateDisallowPublicNetworkAccess": {
            "$ref": "./examples/StorageAccountCreateDisallowPublicNetworkAccess.json"
          },
          "StorageAccountCreateDnsEndpointTypeToAzureDnsZone": {
            "$ref": "./examples/StorageAccountCreateDnsEndpointTypeToAzureDnsZone.json"
          },
          "StorageAccountCreateDnsEndpointTypeToStandard": {
            "$ref": "./examples/StorageAccountCreateDnsEndpointTypeToStandard.json"
          },
          "StorageAccountCreateEnablePublicNetworkAccess": {
            "$ref": "./examples/StorageAccountCreateEnablePublicNetworkAccess.json"
          },
          "StorageAccountCreatePremiumBlockBlobStorage": {
            "$ref": "./examples/StorageAccountCreatePremiumBlockBlobStorage.json"
          },
          "StorageAccountCreateUserAssignedEncryptionIdentityWithCMK": {
            "$ref": "./examples/StorageAccountCreateUserAssignedEncryptionIdentityWithCMK.json"
          },
          "StorageAccountCreateUserAssignedIdentityWithFederatedIdentityClientId.": {
            "$ref": "./examples/StorageAccountCreateUserAssignedIdentityWithFederatedIdentityClientId.json"
          },
          "StorageAccountCreateWithImmutabilityPolicy": {
            "$ref": "./examples/StorageAccountCreateWithImmutabilityPolicy.json"
          }
        }
      },
      "patch": {
        "operationId": "StorageAccounts_Update",
        "tags": [
          "StorageAccounts"
        ],
        "description": "The update operation can be used to update the SKU, encryption, access tier, or tags for a storage account. It can also be used to map the account to a custom domain. Only one custom domain is supported per storage account; the replacement/change of custom domain is not supported. In order to replace an old custom domain, the old value must be cleared/unregistered before a new value can be set. The update of multiple properties is supported. This call does not change the storage keys for the account. If you want to change the storage account keys, use the regenerate keys operation. The location and name of the storage account cannot be changed after creation.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The parameters to provide for the updated account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccountUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountEnableAD": {
            "$ref": "./examples/StorageAccountEnableAD.json"
          },
          "StorageAccountEnableCMK": {
            "$ref": "./examples/StorageAccountEnableCMK.json"
          },
          "StorageAccountUpdate": {
            "$ref": "./examples/StorageAccountUpdate.json"
          },
          "StorageAccountUpdateAllowedCopyScopeToAAD": {
            "$ref": "./examples/StorageAccountUpdateAllowedCopyScopeToAAD.json"
          },
          "StorageAccountUpdateDisablePublicNetworkAccess": {
            "$ref": "./examples/StorageAccountUpdateDisablePublicNetworkAccess.json"
          },
          "StorageAccountUpdateUserAssignedEncryptionIdentityWithCMK": {
            "$ref": "./examples/StorageAccountUpdateUserAssignedEncryptionIdentityWithCMK.json"
          },
          "StorageAccountUpdateUserAssignedIdentityWithFederatedIdentityClientId": {
            "$ref": "./examples/StorageAccountUpdateUserAssignedIdentityWithFederatedIdentityClientId.json"
          },
          "StorageAccountUpdateWithImmutabilityPolicy": {
            "$ref": "./examples/StorageAccountUpdateWithImmutabilityPolicy.json"
          }
        }
      },
      "delete": {
        "operationId": "StorageAccounts_Delete",
        "tags": [
          "StorageAccounts"
        ],
        "description": "Deletes a storage account in Microsoft Azure.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountDelete": {
            "$ref": "./examples/StorageAccountDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/abortHierarchicalNamespaceMigration": {
      "post": {
        "operationId": "StorageAccounts_AbortHierarchicalNamespaceMigration",
        "tags": [
          "StorageAccounts"
        ],
        "description": "Abort live Migration of storage account to enable Hns",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Azure operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountAbortHierarchicalNamespaceMigration": {
            "$ref": "./examples/StorageAccountAbortHierarchicalNamespaceMigration.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices": {
      "get": {
        "operationId": "BlobServices_List",
        "tags": [
          "BlobServicePropertiesOperationGroup"
        ],
        "description": "List blob services of storage account. It returns a collection of one object named default.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BlobServiceItems"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBlobServices": {
            "$ref": "./examples/BlobServicesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default": {
      "get": {
        "operationId": "BlobServices_GetServiceProperties",
        "tags": [
          "BlobServicePropertiesOperationGroup"
        ],
        "description": "Gets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobServiceProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetBlobServices": {
            "$ref": "./examples/BlobServicesGet.json"
          }
        }
      },
      "put": {
        "operationId": "BlobServices_SetServiceProperties",
        "tags": [
          "BlobServicePropertiesOperationGroup"
        ],
        "description": "Sets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobServiceProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BlobServiceProperties' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BlobServiceProperties"
            }
          },
          "201": {
            "description": "Resource 'BlobServiceProperties' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BlobServiceProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BlobServicesPutAllowPermanentDelete": {
            "$ref": "./examples/BlobServicesPutAllowPermanentDelete.json"
          },
          "BlobServicesPutLastAccessTimeBasedTracking": {
            "$ref": "./examples/BlobServicesPutLastAccessTimeBasedTracking.json"
          },
          "PutBlobServices": {
            "$ref": "./examples/BlobServicesPut.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers": {
      "get": {
        "operationId": "BlobContainers_List",
        "tags": [
          "BlobContainers"
        ],
        "description": "Lists all containers and does not support a prefix like data plane. Also SRP today does not return continuation token.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "description": "Optional. Specified maximum number of containers that can be included in the list.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Optional. When specified, only container names starting with the filter will be listed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "Optional, used to include the properties for soft deleted blob containers.",
            "required": false,
            "type": "string",
            "enum": [
              "deleted"
            ],
            "x-ms-enum": {
              "name": "ListContainersInclude",
              "modelAsString": true,
              "values": [
                {
                  "name": "deleted",
                  "value": "deleted"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListContainerItems"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListContainers": {
            "$ref": "./examples/BlobContainersList.json"
          },
          "ListDeletedContainers": {
            "$ref": "./examples/DeletedBlobContainersList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}": {
      "get": {
        "operationId": "BlobContainers_Get",
        "tags": [
          "BlobContainers"
        ],
        "description": "Gets properties of a specified container.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetBlobContainersGetWithAllowProtectedAppendWritesAll": {
            "$ref": "./examples/BlobContainersGetWithAllowProtectedAppendWritesAll.json"
          },
          "GetContainers": {
            "$ref": "./examples/BlobContainersGet.json"
          }
        }
      },
      "put": {
        "operationId": "BlobContainers_Create",
        "tags": [
          "BlobContainers"
        ],
        "description": "Creates a new container under the specified account as described by request body. The container resource includes metadata and properties for that container. It does not include a list of the blobs contained by the container.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Properties of the blob container to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BlobContainer' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          },
          "201": {
            "description": "Resource 'BlobContainer' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PutContainerWithDefaultEncryptionScope": {
            "$ref": "./examples/BlobContainersPutDefaultEncryptionScope.json"
          },
          "PutContainerWithObjectLevelWorm": {
            "$ref": "./examples/BlobContainersPutObjectLevelWorm.json"
          },
          "PutContainers": {
            "$ref": "./examples/BlobContainersPut.json"
          }
        }
      },
      "patch": {
        "operationId": "BlobContainers_Update",
        "tags": [
          "BlobContainers"
        ],
        "description": "Updates container properties as specified in request body. Properties not mentioned in the request will be unchanged. Update fails if the specified container doesn't already exist.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Properties to update for the blob container.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateContainers": {
            "$ref": "./examples/BlobContainersPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "BlobContainers_Delete",
        "tags": [
          "BlobContainers"
        ],
        "description": "Deletes specified container under its account.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteContainers": {
            "$ref": "./examples/BlobContainersDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/clearLegalHold": {
      "post": {
        "operationId": "BlobContainers_ClearLegalHold",
        "tags": [
          "BlobContainers"
        ],
        "description": "Clears legal hold tags. Clearing the same or non-existent tag results in an idempotent operation. ClearLegalHold clears out only the specified tags in the request.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "body",
            "in": "body",
            "description": "The LegalHold property that will be clear from a blob container.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LegalHold"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LegalHold"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClearLegalHoldContainers": {
            "$ref": "./examples/BlobContainersClearLegalHold.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default": {
      "get": {
        "operationId": "BlobContainers_GetImmutabilityPolicy",
        "tags": [
          "ImmutabilityPolicies"
        ],
        "description": "Gets the existing immutability policy along with the corresponding ETag in response headers and body.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-Match"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImmutabilityPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersGetImmutabilityPolicy.json"
          }
        }
      },
      "put": {
        "operationId": "BlobContainers_CreateOrUpdateImmutabilityPolicy",
        "tags": [
          "ImmutabilityPolicies"
        ],
        "description": "Creates or updates an unlocked immutability policy. ETag in If-Match is honored if given but not required for this operation.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-Match"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The ImmutabilityPolicy Properties that will be created or updated to a blob container.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImmutabilityPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ImmutabilityPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ImmutabilityPolicy"
            }
          },
          "201": {
            "description": "Resource 'ImmutabilityPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ImmutabilityPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdateImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersPutImmutabilityPolicy.json"
          },
          "CreateOrUpdateImmutabilityPolicyWithAllowProtectedAppendWritesAll": {
            "$ref": "./examples/BlobContainersPutImmutabilityPolicyAllowProtectedAppendWritesAll.json"
          }
        }
      },
      "delete": {
        "operationId": "BlobContainers_DeleteImmutabilityPolicy",
        "tags": [
          "ImmutabilityPolicies"
        ],
        "description": "Aborts an unlocked immutability policy. The response of delete has immutabilityPeriodSinceCreationInDays set to 0. ETag in If-Match is required for this operation. Deleting a locked immutability policy is not allowed, the only way is to delete the container after deleting all expired blobs inside the policy locked container.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "If-Match"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersDeleteImmutabilityPolicy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/extendImmutabilityPolicy": {
      "post": {
        "operationId": "BlobContainers_ExtendImmutabilityPolicy",
        "tags": [
          "ImmutabilityPolicies"
        ],
        "description": "Extends the immutabilityPeriodSinceCreationInDays of a locked immutabilityPolicy. The only action allowed on a Locked policy will be this action. ETag in If-Match is required for this operation.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "If-Match"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The ImmutabilityPolicy Properties that will be extended for a blob container.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImmutabilityPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImmutabilityPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtendImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersExtendImmutabilityPolicy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/lockImmutabilityPolicy": {
      "post": {
        "operationId": "BlobContainers_LockImmutabilityPolicy",
        "tags": [
          "ImmutabilityPolicies"
        ],
        "description": "Sets the ImmutabilityPolicy to Locked state. The only action allowed on a Locked policy is ExtendImmutabilityPolicy action. ETag in If-Match is required for this operation.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "If-Match"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImmutabilityPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LockImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersLockImmutabilityPolicy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/lease": {
      "post": {
        "operationId": "BlobContainers_Lease",
        "tags": [
          "BlobContainers"
        ],
        "description": "The Lease Container operation establishes and manages a lock on a container for delete operations. The lock duration can be 15 to 60 seconds, or can be infinite.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "body",
            "in": "body",
            "description": "Lease Container request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LeaseContainerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LeaseContainerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Acquire a lease on a container": {
            "$ref": "./examples/BlobContainersLease_Acquire.json"
          },
          "Break a lease on a container": {
            "$ref": "./examples/BlobContainersLease_Break.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/objectLevelWorm": {
      "post": {
        "operationId": "BlobContainers_ObjectLevelWorm",
        "tags": [
          "BlobContainers"
        ],
        "description": "This operation migrates a blob container from container level WORM to object level immutability enabled container. Prerequisites require a container level immutability policy either in locked or unlocked state, Account level versioning must be enabled and there should be no Legal hold on the container.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Azure operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VersionLevelWormContainerMigration": {
            "$ref": "./examples/ObjectLevelWormContainerMigration.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/setLegalHold": {
      "post": {
        "operationId": "BlobContainers_SetLegalHold",
        "tags": [
          "BlobContainers"
        ],
        "description": "Sets legal hold tags. Setting the same tag results in an idempotent operation. SetLegalHold follows an append pattern and does not clear out the existing tags that are not specified in the request.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "body",
            "in": "body",
            "description": "The LegalHold property that will be set to a blob container.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LegalHold"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LegalHold"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SetLegalHoldContainers": {
            "$ref": "./examples/BlobContainersSetLegalHold.json"
          },
          "SetLegalHoldContainersWithAllowProtectedAppendWritesAll": {
            "$ref": "./examples/BlobContainersSetLegalHoldAllowProtectedAppendWritesAll.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes": {
      "get": {
        "operationId": "EncryptionScopes_List",
        "tags": [
          "EncryptionScopes"
        ],
        "description": "Lists all the encryption scopes available under the specified storage account.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "description": "Optional, specifies the maximum number of encryption scopes that will be included in the list response.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 5000
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Optional. When specified, only encryption scope names starting with the filter will be listed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$include",
            "in": "query",
            "description": "Optional, when specified, will list encryption scopes with the specific state. Defaults to All",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "Enabled",
              "Disabled"
            ],
            "x-ms-enum": {
              "name": "ListEncryptionScopesInclude",
              "modelAsString": true,
              "values": [
                {
                  "name": "All",
                  "value": "All"
                },
                {
                  "name": "Enabled",
                  "value": "Enabled"
                },
                {
                  "name": "Disabled",
                  "value": "Disabled"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EncryptionScopeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountEncryptionScopeList": {
            "$ref": "./examples/StorageAccountEncryptionScopeList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}": {
      "get": {
        "operationId": "EncryptionScopes_Get",
        "tags": [
          "EncryptionScopes"
        ],
        "description": "Returns the properties for the specified encryption scope.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "encryptionScopeName",
            "in": "path",
            "description": "The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountGetEncryptionScope": {
            "$ref": "./examples/StorageAccountGetEncryptionScope.json"
          }
        }
      },
      "put": {
        "operationId": "EncryptionScopes_Put",
        "tags": [
          "EncryptionScopes"
        ],
        "description": "Synchronously creates or updates an encryption scope under the specified storage account. If an encryption scope is already created and a subsequent request is issued with different properties, the encryption scope properties will be updated per the specified request.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "encryptionScopeName",
            "in": "path",
            "description": "The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Encryption scope properties to be used for the create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EncryptionScope' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          },
          "201": {
            "description": "Resource 'EncryptionScope' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountPutEncryptionScope": {
            "$ref": "./examples/StorageAccountPutEncryptionScope.json"
          },
          "StorageAccountPutEncryptionScopeWithInfrastructureEncryption": {
            "$ref": "./examples/StorageAccountPutEncryptionScopeWithInfrastructureEncryption.json"
          }
        }
      },
      "patch": {
        "operationId": "EncryptionScopes_Patch",
        "tags": [
          "EncryptionScopes"
        ],
        "description": "Update encryption scope properties as specified in the request body. Update fails if the specified encryption scope does not already exist.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "encryptionScopeName",
            "in": "path",
            "description": "The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Encryption scope properties to be used for the update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountPatchEncryptionScope": {
            "$ref": "./examples/StorageAccountPatchEncryptionScope.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/failover": {
      "post": {
        "operationId": "StorageAccounts_Failover",
        "tags": [
          "StorageAccounts"
        ],
        "description": "A failover request can be triggered for a storage account in the event a primary endpoint becomes unavailable for any reason. The failover occurs from the storage account's primary cluster to the secondary cluster for RA-GRS accounts. The secondary cluster will become primary after failover and the account is converted to LRS. In the case of a Planned Failover, the primary and secondary clusters are swapped after failover and the account remains geo-replicated. Failover should continue to be used in the event of availability issues as Planned failover is only available while the primary and secondary endpoints are available. The primary use case of a Planned Failover is disaster recovery testing drills. This type of failover is invoked by setting FailoverType parameter to 'Planned'. Learn more about the failover options here- https://learn.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "failoverType",
            "in": "query",
            "description": "The parameter is set to 'Planned' to indicate whether a Planned failover is requested.",
            "required": false,
            "type": "string",
            "enum": [
              "Planned"
            ],
            "x-ms-enum": {
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Azure operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StorageAccountFailover": {
            "$ref": "./examples/StorageAccountFailover.json"
          },
          "StorageAccountFailoverPlanned": {
            "$ref": "./examples/StorageAccountFailoverPlanned.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices": {
      "get": {
        "operationId": "FileServices_List",
        "tags": [
          "FileServicePropertiesOperationGroup"
        ],
        "description": "List all file services in storage accounts",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FileServiceItems"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListFileServices": {
            "$ref": "./examples/FileServicesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default": {
      "get": {
        "operationId": "FileServices_GetServiceProperties",
        "tags": [
          "FileServicePropertiesOperationGroup"
        ],
        "description": "Gets the properties of file services in storage accounts, including CORS (Cross-Origin Resource Sharing) rules.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileServiceProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetFileServices": {
            "$ref": "./examples/FileServicesGet.json"
          }
        }
      },
      "put": {
        "operationId": "FileServices_SetServiceProperties",
        "tags": [
          "FileServicePropertiesOperationGroup"
        ],
        "description": "Sets the properties of file services in storage accounts, including CORS (Cross-Origin Resource Sharing) rules.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The properties of file services in storage accounts, including CORS (Cross-Origin Resource Sharing) rules.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileServiceProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FileServiceProperties' update operation succeeded",
            "schema": {
[...]
