{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Redis Cache Management API",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/Microsoft.Cache/Redis?api-version={apiVersion}": {
      "post": {
        "operationId": "Payload_MaxProductNotFlattened",
        "summary": "Request body with properties more than the specified threshold is NOT flattened.",
        "description": "Request body with properties more than the specified threshold is NOT flattened.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParamterer"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "max_product",
            "in": "body",
            "description": "Product with max properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaxProduct"
            }
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "204": {
            "description": "A list of caches",
            "examples": {
              "application/json": {
                "id": 9,
                "category": {
                  "name": "domestic"
                },
                "name": "monster",
                "tags": [
                  {
                    "name": "for sale"
                  }
                ],
                "status": "alive"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "operationId": "Payload_MinProductFlattened",
        "summary": "Request body with properties less than or equal to the specified threshold is flattened.",
        "description": "Request body with properties less than or equal to the specified threshold is flattened.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParamterer"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "min_product",
            "in": "body",
            "description": "Product with min properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MinProduct"
            }
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "204": {
            "description": "A list of caches",
            "examples": {
              "application/json": {
                "id": 9,
                "category": {
                  "name": "domestic"
                },
                "name": "monster",
                "tags": [
                  {
                    "name": "for sale"
                  }
                ],
                "status": "alive"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BaseProduct": {
      "description": "The product documentation.",
      "required": [
        "base_product_id"
      ],
      "properties": {
        "base_product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "base_product_description": {
          "type": "string",
          "description": "Description of product."
        }
      },
      "example": {
        "name": "Puma",
        "id": 1
      }
    },
    "MaxProduct": {
      "description": "The product documentation.",
      "required": [
        "max_product_display_name",
        "max_product_capacity"
      ],
      "allOf": [ { "$ref": "#/definitions/BaseProduct" } ],
      "properties": {
        "max_product_display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "max_product_capacity": {
          "type": "string",
          "description": "Capacity of product. For example, 4 people."
        },
        "max_product_image": {
          "type": "string",
          "description": "Image URL representing the product."
        }
      },
      "example": {
        "name": "Puma",
        "id": 1
      }
    },
    "MinProduct": {
      "description": "The product documentation.",
      "allOf": [ { "$ref": "#/definitions/BaseProduct" } ],
      "properties": {
        "max_product_reference": {
          "description": "Reference to Max Product.",
          "$ref": "#/definitions/MaxProduct"
        }
      },
      "example": {
        "display_name": "Puma",
        "id": 1
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParamterer": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "apiVersion",
      "in": "path",
      "description": "API ID.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Resource Group ID.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}