{
    "swagger": "2.0",
    "info": {
        "version": "2015-05-21-preview",
        "title": "DevTestLabsClient",
        "description": "The DevTest Labs client version 2015-05-21-preview."
    },
    "host": "management.azure.com",
    "schemes": [ "https" ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs": {
            "get": {
                "tags": [ "Lab" ],
                "description": "List labs.",
                "operationId": "Lab_ListBySubscription",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Lab]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Lab"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs": {
            "get": {
                "tags": [ "Lab" ],
                "description": "List labs.",
                "operationId": "Lab_ListByResourceGroup",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Lab]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Lab"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources": {
            "get": {
                "tags": [ "ArtifactSource" ],
                "description": "List artifact sources.",
                "operationId": "ArtifactSource_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[ArtifactSource]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/ArtifactSource"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts": {
            "get": {
                "tags": [ "Artifact" ],
                "description": "List artifacts.",
                "operationId": "Artifact_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "artifactSourceName",
                        "in": "path",
                        "description": "The name of the artifact source.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Artifact]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Artifact"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}": {
            "get": {
                "tags": [ "Artifact" ],
                "description": "Get artifact.",
                "operationId": "Artifact_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "artifactSourceName",
                        "in": "path",
                        "description": "The name of the artifact source.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the artifact.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Artifact" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate": {
            "post": {
                "tags": [ "Artifact" ],
                "description": "Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.",
                "operationId": "Artifact_GenerateArmTemplate",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "artifactSourceName",
                        "in": "path",
                        "description": "The name of the artifact source.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the artifact.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "generateArmTemplateRequest",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/GenerateArmTemplateRequest" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ArmTemplateInfo" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}": {
            "get": {
                "tags": [ "ArtifactSource" ],
                "description": "Get artifact source.",
                "operationId": "ArtifactSource_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the artifact source.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "put": {
                "tags": [ "ArtifactSource" ],
                "description": "Create or replace an existing artifact source.",
                "operationId": "ArtifactSource_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the artifact source.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "artifactSource",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "delete": {
                "tags": [ "ArtifactSource" ],
                "description": "Delete artifact source.",
                "operationId": "ArtifactSource_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the artifact source.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "204": { "description": "No Content" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "patch": {
                "tags": [ "ArtifactSource" ],
                "description": "Modify properties of artifact sources.",
                "operationId": "ArtifactSource_PatchResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the artifact source.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "artifactSource",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ArtifactSource" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights": {
            "get": {
                "tags": [ "CostInsight" ],
                "description": "List cost insights.",
                "operationId": "CostInsight_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[CostInsight]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/CostInsight"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights/{name}": {
            "get": {
                "tags": [ "CostInsight" ],
                "description": "Get cost insight.",
                "operationId": "CostInsight_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the cost insight.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CostInsight" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights/{name}/refreshData": {
            "post": {
                "tags": [ "CostInsight" ],
                "description": "Refresh Lab's Cost Insight Data. This operation can take a while to complete.",
                "operationId": "CostInsight_RefreshData",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the cost insight.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs": {
            "get": {
                "tags": [ "Cost" ],
                "description": "List costs.",
                "operationId": "Cost_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Cost]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Cost"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}": {
            "get": {
                "tags": [ "Cost" ],
                "description": "Get cost.",
                "operationId": "Cost_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the cost.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Cost" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}/refreshData": {
            "post": {
                "tags": [ "Cost" ],
                "description": "Refresh Lab's Cost Data. This operation can take a while to complete.",
                "operationId": "Cost_RefreshData",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the cost.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages": {
            "get": {
                "tags": [ "CustomImage" ],
                "description": "List custom images.",
                "operationId": "CustomImage_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[CustomImage]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/CustomImage"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}": {
            "get": {
                "tags": [ "CustomImage" ],
                "description": "Get custom image.",
                "operationId": "CustomImage_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the custom image.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CustomImage" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "put": {
                "tags": [ "CustomImage" ],
                "description": "Create or replace an existing custom image. This operation can take a while to complete.",
                "operationId": "CustomImage_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the custom image.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "customImage",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CustomImage" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CustomImage" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/CustomImage" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "CustomImage" ],
                "description": "Delete custom image. This operation can take a while to complete.",
                "operationId": "CustomImage_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the custom image.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "202": { "description": "Accepted" },
                    "204": { "description": "No Content" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas": {
            "get": {
                "tags": [ "Formula" ],
                "description": "List formulas.",
                "operationId": "Formula_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Formula]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Formula"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}": {
            "get": {
                "tags": [ "Formula" ],
                "description": "Get formula.",
                "operationId": "Formula_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the formula.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Formula" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "put": {
                "tags": [ "Formula" ],
                "description": "Create or replace an existing Formula. This operation can take a while to complete.",
                "operationId": "Formula_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the formula.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "formula",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Formula" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Formula" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/Formula" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "Formula" ],
                "description": "Delete formula.",
                "operationId": "Formula_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the formula.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "204": { "description": "No Content" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages": {
            "get": {
                "tags": [ "GalleryImage" ],
                "description": "List gallery images.",
                "operationId": "GalleryImage_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[GalleryImage]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/GalleryImage"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies": {
            "post": {
                "tags": [ "PolicySet" ],
                "description": "Evaluates Lab Policy.",
                "operationId": "PolicySet_EvaluatePolicies",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the policy set.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "evaluatePoliciesRequest",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/EvaluatePoliciesRequest" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/EvaluatePoliciesResponse" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies": {
            "get": {
                "tags": [ "Policy" ],
                "description": "List policies.",
                "operationId": "Policy_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "description": "The name of the policy set.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Policy]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Policy"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}": {
            "get": {
                "tags": [ "Policy" ],
                "description": "Get policy.",
                "operationId": "Policy_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "description": "The name of the policy set.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the policy.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "put": {
                "tags": [ "Policy" ],
                "description": "Create or replace an existing policy.",
                "operationId": "Policy_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "description": "The name of the policy set.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the policy.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policy",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "delete": {
                "tags": [ "Policy" ],
                "description": "Delete policy.",
                "operationId": "Policy_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "description": "The name of the policy set.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the policy.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "204": { "description": "No Content" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "patch": {
                "tags": [ "Policy" ],
                "description": "Modify properties of policies.",
                "operationId": "Policy_PatchResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policySetName",
                        "in": "path",
                        "description": "The name of the policy set.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the policy.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policy",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Policy" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules": {
            "get": {
                "tags": [ "Schedule" ],
                "description": "List schedules.",
                "operationId": "Schedule_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[Schedule]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/Schedule"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}": {
            "get": {
                "tags": [ "Schedule" ],
                "description": "Get schedule.",
                "operationId": "Schedule_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the schedule.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "put": {
                "tags": [ "Schedule" ],
                "description": "Create or replace an existing schedule. This operation can take a while to complete.",
                "operationId": "Schedule_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the schedule.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "schedule",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "Schedule" ],
                "description": "Delete schedule. This operation can take a while to complete.",
                "operationId": "Schedule_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the schedule.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "202": { "description": "Accepted" },
                    "204": { "description": "No Content" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [ "Schedule" ],
                "description": "Modify properties of schedules.",
                "operationId": "Schedule_PatchResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the schedule.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "schedule",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Schedule" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute": {
            "post": {
                "tags": [ "Schedule" ],
                "description": "Execute a schedule. This operation can take a while to complete.",
                "operationId": "Schedule_Execute",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the schedule.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines": {
            "get": {
                "tags": [ "VirtualMachine" ],
                "description": "List virtual machines.",
                "operationId": "VirtualMachine_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The filter to apply on the operation.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/ResponseWithContinuation[LabVirtualMachine]" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-pageable": { "nextLinkName": "nextLink" },
                "x-ms-odata": "#/definitions/LabVirtualMachine"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}": {
            "get": {
                "tags": [ "VirtualMachine" ],
                "description": "Get virtual machine.",
                "operationId": "VirtualMachine_GetResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the virtual Machine.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            },
            "put": {
                "tags": [ "VirtualMachine" ],
                "description": "Create or replace an existing Virtual Machine. This operation can take a while to complete.",
                "operationId": "VirtualMachine_CreateOrUpdateResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the virtual Machine.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labVirtualMachine",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    "201": {
                        "description": "Created",
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            },
            "delete": {
                "tags": [ "VirtualMachine" ],
                "description": "Delete virtual machine. This operation can take a while to complete.",
                "operationId": "VirtualMachine_DeleteResource",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the virtual Machine.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "202": { "description": "Accepted" },
                    "204": { "description": "No Content" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [ "VirtualMachine" ],
                "description": "Modify properties of virtual machines.",
                "operationId": "VirtualMachine_PatchResource",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the virtual Machine.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labVirtualMachine",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/LabVirtualMachine" }
                    },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/applyArtifacts": {
            "post": {
                "tags": [ "VirtualMachine" ],
                "description": "Apply artifacts to Lab VM. This operation can take a while to complete.",
                "operationId": "VirtualMachine_ApplyArtifacts",
                "consumes": [ "application/json", "text/json" ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the virtual Machine.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "applyArtifactsRequest",
                        "in": "body",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ApplyArtifactsRequest" }
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/start": {
            "post": {
                "tags": [ "VirtualMachine" ],
                "description": "Start a Lab VM. This operation can take a while to complete.",
                "operationId": "VirtualMachine_Start",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the virtual Machine.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/stop": {
            "post": {
                "tags": [ "VirtualMachine" ],
                "description": "Stop a Lab VM. This operation can take a while to complete.",
                "operationId": "VirtualMachine_Stop",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "labName",
                        "in": "path",
                        "description": "The name of the lab.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the virtual Machine.",
                        "required": true,
                        "type": "string"
                    },
                    { "$ref": "#/parameters/api-version" }
                ],
                "responses": {
                    "200": { "description": "OK" },
                    "202": { "description": "Accepted" },
                    "default": {
                        "description": "BadRequest",
                        "schema": { "$ref": "#/definitions/CloudError" }
                    }
                },
                "security": [ { "oauth2": [ "user_impersonation" ] } ],
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks": {
            "get": {
                "tags": [ "VirtualNetwork" ],
                "description": "List virtual networks.",
                "operationId": "VirtualNetwork_List",
                "consumes": [ ],
                "produces": [ "application/json", "text/json" ],
                "parameters": [
                    { "$ref": "#/parameters/subscriptionId" },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
[...]
