{
    "swagger": "2.0",
    "info": {
        "title": "Microsoft Azure Redis Cache Management API",
        "description": "Some cool documentation.",
        "version": "2014-04-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [ "application/json" ],
    "consumes": [ "application/json" ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/Microsoft.Cache/{abstract}/Redis?api-version={apiVersion}": {
            "get": {
                "operationId": "else",
                "summary": "Product Types",
                "description": "The Products endpoint returns information about the Uber products offered at a given location. The response includes the display name and other details about each product, and lists the products in the proper display order.",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "Subscription Id.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Resource Group Id.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "API Id.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "abstract",
                        "in": "path",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "as",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "assert",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "async",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "await",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "base",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bool",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "boolean",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "break",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "byte",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "case",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "catch",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "char",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checked",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "class",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "const",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "continue",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "debugger",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "decimal",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "default",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "delegate",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "delete",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "do",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "double",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dynamic",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "else",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "enum",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "explicit",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "export",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "extends",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "extern",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "false",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "final",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "finally",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fixed",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "float",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "for",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "foreach",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "function",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "global",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "goto",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "if",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "implements",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "implicit",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "import",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "in",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "instanceof",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "int",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "interface",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "internal",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "is",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "let",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lock",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "namespace",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "native",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "new",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "null",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "operator",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "out",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "override",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "package",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "params",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "private",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "protected",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "public",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "readonly",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ref",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "return",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sbyte",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sealed",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "short",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sizeof",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stackalloc",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "static",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "strictfp",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "string",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "struct",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "super",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "switch",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "synchronized",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "this",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "throw",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "throws",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "transient",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "true",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "try",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "typeof",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uint",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ulong",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "unchecked",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "unsafe",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ushort",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "using",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "var",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "virtual",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "void",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "volatile",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "while",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "with",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "yield",
                        "in": "query",
                        "description": "reserved word parameter",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Redis"
                ],
                "responses": {
                    "200": {
                        "description": "A list of caches",
                        "schema": {
                            "$ref": "ReservedWordsAsProperties"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ReservedWordsAsProperties": {
            "properties": {
                "abstract": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "as": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "assert": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "async": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "await": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "base": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "bool": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "boolean": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "break": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "byte": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "case": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "catch": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "char": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "checked": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "class": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "const": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "continue": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "debugger": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "decimal": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "default": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "delegate": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "delete": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "do": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "double": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "dynamic": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "else": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "enum": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "event": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "explicit": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "export": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "extends": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "extern": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "false": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "final": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "finally": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "fixed": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "float": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "for": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "foreach": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "from": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "function": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "global": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "goto": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "if": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "implements": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "implicit": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "import": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "in": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "instanceof": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "int": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "interface": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "internal": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "is": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "let": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "lock": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "long": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "namespace": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "native": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "new": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "null": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "object": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "operator": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "out": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "override": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "package": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "params": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "private": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "protected": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "public": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "readonly": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "ref": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "return": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "sbyte": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "sealed": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "short": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "sizeof": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "stackalloc": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "static": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "strictfp": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "string": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "struct": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "super": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "switch": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "synchronized": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "this": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "throw": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "throws": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "transient": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "true": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "try": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "typeof": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "uint": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "ulong": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "unchecked": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "unsafe": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "ushort": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "using": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "var": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "virtual": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "void": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "volatile": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "while": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "with": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "yield": {
                    "type": "string",
                    "description": "sample reserved property name"
                },
                "valid_item": {
                    "type": "string",
                    "description": "sample reserved property name"
                }
            }
        },
        "Error": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}
