{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Redis Cache Management API",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ 
    "application/json",
    "multipart/form-data"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupList}/Microsoft.Cache/Redis": {
      "get": {
        "operationId": "list",
        "summary": "Product Types",
        "description": "The Products endpoint returns information about the Uber products offered at a given location. The response includes the display name and other details about each product, and lists the products in the proper display order.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupList",
            "in": "path",
            "description": "Resource Group list.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "API Id.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "tsv"
          },
          {
            "name": "ssv-data",
            "in":  "header",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "ssv"
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "200": {
            "description": "A list of caches",
            "schema": {
              "$ref": "Product"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Product": {
      "properties": {
        "product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "description": {
          "type": "string",
          "description": "Description of product."
        },
        "display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "capacity": {
          "type": "string",
          "description": "Capacity of product. For example, 4 people."
        },
        "image": {
          "type": "string",
          "description": "Image URL representing the product."
        },
        "customers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "collectionFormat": "pipes"
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  }
}
