{
  "swagger": "2.0",
  "info": {
    "title": "Dictionary Store",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "operationId": "list",
        "summary": "Product Types",
        "description": "The Products endpoint returns information about the Uber products offered at a given location. The response includes the display name and other details about each product, and lists the products in the proper display order.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "time",
            "in": "body",
            "description": "time dictionary.",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "integer"
              }
            }
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "200": {
            "description": "A dictionary of string, string",
            "schema": {
              "$ref": "StringDictionary"
            }
          },
          "201": {
            "description": "A dictionary of products",
            "schema": {
              "$ref": "IDictionary[string, Product]"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "IDictionary[string, Product]": {
      "type": "object",
      "additionalProperties": {
        "$ref": "Product"
      }
    },
    "StringDictionary": {
      "additionalProperties": {
        "type": "string"
      }
    },
    "Product": {
      "properties": {
        "product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "description": {
          "type": "string",
          "description": "Description of product."
        },
        "display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "capacity": {
          "type": "string",
          "description": "Capacity of product. For example, 4 people."
        },
        "image": {
          "type": "string",
          "description": "Image URL representing the product."
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  }
}
