{
  "swagger": "2.0",
  "info": {
    "title": "Super Inline Product Store",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/products/": {
      "get": {
        "operationId": "list",
        "summary": "Product Types",
        "description": "The Products endpoint returns information about the Uber products offered at a given location. The response includes the display name and other details about each product, and lists the products in the proper display order.",
        "parameters": [
          {
            "name": "products",
            "in": "body",
            "description": "Subscription Id.",
            "required": true,
            "schema": {
              "properties": {
                "string": {
                  "type": "string",
                  "description": "a string property"
                },
                "inline": {
                  "description": "an inline property",
                  "properties": {
                    "super": {
                      "description": "a super inline array",
                      "type": "array",
                      "items": {
                        "properties": { 
                          "superb": {
                            "description": "a superb inline property",
                            "properties": {
                              "string": {
                                "type": "string",
                                "description": "a hidden property"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "200": {
            "description": "A list of caches",
            "schema": {
              "properties": {
                "inline": {
                  "description": "an inline property",
                  "properties": {
                    "super": {
                      "description": "a super inline array",
                      "type": "array",
                      "items": {
                        "properties": { 
                          "superb": {
                            "description": "a superb inline property",
                            "properties": {
                              "string": {
                                "type": "string",
                                "description": "a hidden property"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "int": {
                  "type": "integer",
                  "description": "a companion property"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "Error"
            }
          }
        }
      }
    }
  },
    "definitions": {
      "Error": {
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "string"
          }
        }
      }
    }
  }
