{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Redis Cache Management API",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/Microsoft.Cache/Redis?api-version={apiVersion}": {
      "post": {
        "operationId": "Payload_FlattenSimple",
        "summary": "Request body with properties more than the specified threshold is NOT flattened.",
        "description": "Request body with properties more than the specified threshold is NOT flattened.",
        "parameters": [
          {
            "name": "apiVersion",
            "in": "path",
            "description": "API ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max_product",
            "in": "body",
            "description": "Product with max properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimpleProduct"
            }
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "204": {
            "description": "A list of caches"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "operationId": "Payload_FlattenWithNameConflicts",
        "summary": "Request body with properties less than or equal to the specified threshold is flattened.",
        "description": "Request body with properties less than or equal to the specified threshold is flattened.",
        "parameters": [
          {
            "name": "apiVersion",
            "in": "path",
            "description": "API ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "min_product",
            "in": "body",
            "description": "Product with min properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConflictedProduct"
            }
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "204": {
            "description": "A list of caches",
            "schema": {
              "$ref": "#/definitions/ConflictedProductProperties"
            }
          },
          "200": {
            "description": "A list of caches",
            "schema": {
              "$ref": "#/definitions/RecursiveProduct"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BaseProduct": {
      "description": "The product documentation.",
      "required": [
        "base_product_id"
      ],
      "properties": {
        "base_product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "base_product_description": {
          "type": "string",
          "description": "Description of product."
        }
      },
      "example": {
        "name": "Puma",
        "id": 1
      }
    },
    "SimpleProduct": {
      "description": "The product documentation.",
      "allOf": [ { "$ref": "#/definitions/BaseProduct" } ],
      "properties": {
        "details": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SimpleProductProperties"
        }
      }
    },
    "SimpleProductProperties": {
      "description": "The product documentation.",
      "required": [
        "max_product_display_name",
        "max_product_capacity"
      ],
      "properties": {
        "max_product_display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "max_product_capacity": {
          "type": "string",
          "description": "Capacity of product. For example, 4 people."
        },
        "max_product_image": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProductUrl"
        }
      }
    },
    "ProductUrl": {
      "description": "The product URL.",
      "properties": {
        "@odata.value": {
          "type": "string",
          "description": "URL value."
        }
      }
    },
    "ConflictedProduct": {
      "description": "The product documentation.",
      "allOf": [ { "$ref": "#/definitions/BaseProduct" } ],
      "properties": {
        "max_product_display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "simpleDetails": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SimpleProductProperties"
        },
        "details": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConflictedProductProperties"
        }
      }
    },
    "ConflictedProductProperties": {
      "description": "The product documentation.",
      "required": [
        "max_product_display_name",
        "max_product_capacity"
      ],
      "properties": {
        "max_product_display_name": {
          "type": "string",
          "description": "Conflicting with max_product_display_name."
        },
        "base_product_description": {
          "type": "string",
          "description": "Conflicting with base_product_description."
        }
      }
    },
    "RecursiveProduct": {
      "description": "The product with recursion.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecursiveProductProperties"
        }
      }
    },
    "RecursiveProductProperties": {
      "description": "The product documentation.",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "parent": {
          "description": "Parent",
          "$ref": "#/definitions/RecursiveProduct"
        }
      }
    },
    "BaseFlattenedProduct": {
      "description": "The product with inheritance.",
      "properties": {
        "details": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SimpleProductProperties"
        }
      }
    },
    "ProductWithInheritance": {
      "description": "The product documentation.",
      "allOf": [ { "$ref": "#/definitions/BaseFlattenedProduct" } ],
      "properties": {
        "max_product_display_name": {
          "type": "string",
          "description": "Conflicting with max_product_display_name."
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "parentError": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Error"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParamterer": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "apiVersion",
      "in": "path",
      "description": "API ID.",
      "required": true,
      "type": "string"
    }
  }
}
