{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Redis Cache Management API",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/Microsoft.Cache/Redis?api-version={apiVersion}": {
      "post": {
        "operationId": "Payload_Post",
        "summary": "Request body with properties more than the specified threshold is NOT flattened.",
        "description": "Request body with properties more than the specified threshold is NOT flattened.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "subscription"
          },
          {
            "name": "apiVersion",
            "in": "header",
            "description": "API version.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "version"
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "204": {
            "description": "A list of caches"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "operationId": "Payload_Put",
        "summary": "Request body with properties more than the specified threshold is NOT flattened.",
        "description": "Request body with properties more than the specified threshold is NOT flattened.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParamerer"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "204": {
            "description": "A list of caches"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BaseProduct": {
      "description": "The product documentation.",
      "required": [
        "base_product_id"
      ],
      "properties": {
        "base_product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "base_product_description": {
          "type": "string",
          "description": "Description of product."
        }
      },
      "example": {
        "name": "Puma",
        "id": 1
      }
    },
    "SimpleProduct": {
      "description": "The product documentation.",
      "allOf": [ { "$ref": "#/definitions/BaseProduct" } ],
      "properties": {
        "details": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SimpleProductProperties"
        }
      }
    },
    "SimpleProductProperties": {
      "description": "The product documentation.",
      "required": [
        "max_product_display_name",
        "max_product_capacity"
      ],
      "properties": {
        "max_product_display_name": {
          "type": "string",
          "description": "Display name of product."
        },
        "max_product_capacity": {
          "type": "string",
          "description": "Capacity of product. For example, 4 people."
        },
        "max_product_image": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProductUrl"
        }
      }
    },
    "ProductUrl": {
      "description": "The product URL.",
      "properties": {
        "@odata.value": {
          "type": "string",
          "description": "URL value."
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "parentError": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Error"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParamerer": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID.",
      "required": true,
      "type": "string",
      "x-ms-client-name": "subscription"
    },
    "ApiVersionParameter": {
      "name": "apiVersion",
      "in": "header",
      "description": "API version.",
      "required": true,
      "type": "string",
      "x-ms-client-name": "version"
    }
  }
}
