build
*.class
target
gen

# Mobile Tools for Java (J2ME)
.mtj.tmp/
tmp

# Package Files #
*.jar
*.war
*.ear
*.MF
.gitrevision
.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ide
.idea
*.iml
