language: android
android:
  components:
    - build-tools-23.0.1
    - android-23
    - platform-tools
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository
sudo: false
script:
  - mvn clean install
  - mvn checkstyle:check
  - cd ./azure-android-client-authentication && ./gradlew check
