{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Testing",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/Microsoft.Cache/Redis?api-version={apiVersion}": {
      "post": {
        "operationId": "ClientName_Post",
        "summary": "Parameters and the error payload has x-ms-client-name properties.",
        "description": "Parameters and the error payload has x-ms-client-name properties.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "subscription"
          },
          {
            "name": "apiVersion",
            "in": "header",
            "description": "API version.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "version"
          }
        ],
        "tags": [
          "Extensions"
        ],
        "responses": {
          "204": {
            "description": "A list of caches"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "operationId": "ClientName_Put",
        "summary": "Parameters and the error payload has x-ms-client-name properties.",
        "description": "Parameters and the error payload has x-ms-client-name properties.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParamerer"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Extensions"
        ],
        "responses": {
          "204": {
            "description": "A list of caches"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "properties": {
        "code": {
          "x-ms-client-name": "errorCode",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "x-ms-client-name": "errorMessage",
          "type": "string"
        },
        "parentError": {
          "x-ms-client-flatten": true,
          "x-ms-client-name": "ParentError",
          "$ref": "#/definitions/Error"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParamerer": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID.",
      "required": true,
      "type": "string",
      "x-ms-client-name": "subscription"
    },
    "ApiVersionParameter": {
      "name": "apiVersion",
      "in": "header",
      "description": "API version.",
      "required": true,
      "type": "string",
      "x-ms-client-name": "_version"
    }
  }
}
