{
  "swagger": "2.0",
  "info": {
    "title": "LogicManagementClient",
    "version": "2015-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_ListBySubscription",
        "description": "Gets a list of workflows by subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "description": "The filter to apply on the operation.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/WorkflowFilter"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_ListByResourceGroup",
        "description": "Gets a list of workflows by resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "description": "The filter to apply on the operation.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/WorkflowFilter"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_Get",
        "description": "Gets a workflow.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_CreateOrUpdate",
        "description": "Creates or updates a workflow.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "workflow",
            "description": "The workflow.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_Update",
        "description": "Updates a workflow.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "workflow",
            "description": "The workflow.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_Delete",
        "description": "Deletes a workflow.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/run": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_Run",
        "description": "Runs a workflow.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "parameters",
            "description": "The parameters.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunWorkflowParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/WorkflowRun"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/disable": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_Disable",
        "description": "Disables a workflow.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/enable": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_Enable",
        "description": "Enables a workflow.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/validate": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "Workflows_Validate",
        "description": "Validates a workflow.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "workflow",
            "description": "The workflow.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}": {
      "get": {
        "tags": [
          "WorkflowVersions"
        ],
        "operationId": "WorkflowVersions_Get",
        "description": "Gets a workflow version.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "versionId",
            "description": "The workflow versionId.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowVersion"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys": {
      "get": {
        "tags": [
          "WorkflowAccessKeys"
        ],
        "operationId": "WorkflowAccessKeys_List",
        "description": "Gets a list of workflow access keys.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowAccessKeyListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}": {
      "get": {
        "tags": [
          "WorkflowAccessKeys"
        ],
        "operationId": "WorkflowAccessKeys_Get",
        "description": "Gets a workflow access key.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessKeyName",
            "description": "The workflow access key name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowAccessKey"
            }
          }
        }
      },
      "put": {
        "tags": [
          "WorkflowAccessKeys"
        ],
        "operationId": "WorkflowAccessKeys_CreateOrUpdate",
        "description": "Creates or updates a workflow access key.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessKeyName",
            "description": "The workflow access key name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "workflowAccesskey",
            "description": "The workflow access key.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkflowAccessKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowAccessKey"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WorkflowAccessKey"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WorkflowAccessKeys"
        ],
        "operationId": "WorkflowAccessKeys_Delete",
        "description": "Deletes a workflow access key.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessKeyName",
            "description": "The workflow access key name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}/list": {
      "post": {
        "tags": [
          "WorkflowAccessKeys"
        ],
        "operationId": "WorkflowAccessKeys_ListSecretKeys",
        "description": "Lists secret keys.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessKeyName",
            "description": "The workflow access key name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowSecretKeys"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}/regenerate": {
      "post": {
        "tags": [
          "WorkflowAccessKeys"
        ],
        "operationId": "WorkflowAccessKeys_RegenerateSecretKey",
        "description": "Regenerates secret key.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessKeyName",
            "description": "The workflow access key name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "parameters",
            "description": "The parameters.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateSecretKeyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowSecretKeys"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/": {
      "get": {
        "tags": [
          "WorkflowTriggers"
        ],
        "operationId": "WorkflowTriggers_List",
        "description": "Gets a list of workflow triggers.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "description": "The filter to apply on the operation.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/WorkflowTriggerFilter"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}": {
      "get": {
        "tags": [
          "WorkflowTriggers"
        ],
        "operationId": "WorkflowTriggers_Get",
        "description": "Gets a workflow trigger.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "description": "The workflow trigger name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowTrigger"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run": {
      "post": {
        "tags": [
          "WorkflowTriggers"
        ],
        "operationId": "WorkflowTriggers_Run",
        "description": "Runs a workflow trigger.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "description": "The workflow trigger name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories": {
      "get": {
        "tags": [
          "WorkflowTriggerHistories"
        ],
        "operationId": "WorkflowTriggerHistories_List",
        "description": "Gets a list of workflow trigger histories.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "description": "The workflow trigger name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerHistoryListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories/{historyName}": {
      "get": {
        "tags": [
          "WorkflowTriggerHistories"
        ],
        "operationId": "WorkflowTriggerHistories_Get",
        "description": "Gets a workflow trigger history.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "description": "The workflow trigger name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "historyName",
            "description": "The workflow trigger history name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerHistory"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs": {
      "get": {
        "tags": [
          "WorkflowRuns"
        ],
        "operationId": "WorkflowRuns_List",
        "description": "Gets a list of workflow runs.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "description": "The filter to apply on the operation.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/WorkflowRunFilter"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}": {
      "get": {
        "tags": [
          "WorkflowRuns"
        ],
        "operationId": "WorkflowRuns_Get",
        "description": "Gets a workflow run.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "runName",
            "description": "The workflow run name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRun"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel": {
      "post": {
        "tags": [
          "WorkflowRuns"
        ],
        "operationId": "WorkflowRuns_Cancel",
        "description": "Cancels a workflow run.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "runName",
            "description": "The workflow run name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions": {
      "get": {
        "tags": [
          "WorkflowRunActions"
        ],
        "operationId": "WorkflowRunActions_List",
        "description": "Gets a list of workflow run actions.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "runName",
            "description": "The workflow run name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "description": "The filter to apply on the operation.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunActionListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/WorkflowRunActionFilter"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}": {
      "get": {
        "tags": [
          "WorkflowRunActions"
        ],
        "operationId": "WorkflowRunActions_Get",
        "description": "Gets a workflow run action.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workflowName",
            "description": "The workflow name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "runName",
            "description": "The workflow run name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionName",
            "description": "The workflow action name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunAction"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the resource id."
        },
        "name": {
          "type": "string",
          "description": "Gets the resource name."
        },
        "type": {
          "type": "string",
          "description": "Gets the resource type."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the resource id."
        }
      },
      "x-ms-azure-resource": true
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "ResourceReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the resource id."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the resource name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the resource type."
        }
      }
    },
    "Workflow": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkflowProperties",
          "description": "Gets or sets the workflow properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "WorkflowProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/WorkflowProvisioningState",
          "readOnly": true,
          "description": "Gets the provisioning state."
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the created time."
        },
        "changedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the changed time."
        },
        "state": {
          "$ref": "#/definitions/WorkflowState",
          "description": "Gets or sets the state."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the version."
        },
        "accessEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the access endpoint."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the sku."
        },
        "definitionLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the link to definition."
        },
        "definition": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the definition."
        },
        "parametersLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the link to parameters."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/WorkflowParameter"
          },
          "description": "Gets or sets the parameters."
        }
      }
    },
    "WorkflowFilter": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/WorkflowState",
          "description": "Gets or sets the state of workflows."
        }
      }
    },
    "WorkflowListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workflow"
          },
          "description": "Gets or sets the list of workflows."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowVersion": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkflowVersionProperties",
          "description": "Gets or sets the workflow version properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "WorkflowVersionProperties": {
      "type": "object",
      "properties": {
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the created time."
        },
        "changedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the changed time."
        },
        "state": {
          "$ref": "#/definitions/WorkflowState",
          "description": "Gets or sets the state."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the version."
        },
        "accessEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the access endpoint."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the sku."
        },
        "definitionLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the link to definition."
        },
        "definition": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the definition."
        },
        "parametersLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the link to parameters."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/WorkflowParameter"
          },
          "description": "Gets or sets the parameters."
        }
      }
    },
    "WorkflowAccessKey": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkflowAccessKeyProperties",
          "description": "Gets or sets the workflow access key properties."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow access key name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow access key type."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "WorkflowAccessKeyProperties": {
      "type": "object",
      "properties": {
        "notBefore": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the not-before time."
        },
        "notAfter": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the not-after time."
        }
      }
    },
    "WorkflowAccessKeyListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowAccessKey"
          },
          "description": "Gets or sets a list of workflow access keys."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowTrigger": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkflowTriggerProperties",
          "description": "Gets or sets the workflow trigger properties."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow trigger name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow trigger type."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "WorkflowTriggerProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/WorkflowTriggerProvisioningState",
          "readOnly": true,
          "description": "Gets the provisioning state."
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the created time."
        },
        "changedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the changed time."
        },
        "state": {
          "$ref": "#/definitions/WorkflowState",
          "readOnly": true,
          "description": "Gets the state."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "lastExecutionTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last execution time."
        },
        "nextExecutionTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the next execution time."
        },
        "recurrence": {
          "$ref": "#/definitions/WorkflowTriggerRecurrence",
          "readOnly": true,
          "description": "Gets the workflow trigger recurrence."
        },
        "workflow": {
          "$ref": "#/definitions/ResourceReference",
          "readOnly": true,
          "description": "Gets the reference to workflow."
        }
      }
    },
    "WorkflowTriggerFilter": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/WorkflowState",
          "description": "Gets or sets the state of workflow trigger."
        }
      }
    },
    "WorkflowTriggerListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTrigger"
          },
          "description": "Gets or sets a list of workflow triggers."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowTriggerHistory": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkflowTriggerHistoryProperties",
          "description": "Gets the workflow trigger history properties."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow trigger history name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow trigger history type."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "WorkflowTriggerHistoryProperties": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the code."
        },
        "error": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the error."
        },
        "trackingId": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the tracking id."
        },
        "inputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to input parameters."
        },
        "outputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to output parameters."
        },
        "fired": {
          "type": "boolean",
          "readOnly": true,
          "description": "Gets a value indicating whether trigger was fired."
        },
        "run": {
          "$ref": "#/definitions/ResourceReference",
          "readOnly": true,
          "description": "Gets the reference to workflow run."
        }
      }
    },
    "WorkflowTriggerHistoryListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTriggerHistory"
          },
          "description": "Gets or sets a list of workflow trigger histories."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowRun": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkflowRunProperties",
          "description": "Gets or sets the workflow run properties."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow run name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow run type."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "WorkflowRunProperties": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the code."
        },
        "error": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the error."
        },
        "correlationId": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the correlation id."
        },
        "workflow": {
          "$ref": "#/definitions/ResourceReference",
          "readOnly": true,
          "description": "Gets the reference to workflow version."
        },
        "trigger": {
          "$ref": "#/definitions/WorkflowRunTrigger",
          "readOnly": true,
          "description": "Gets the fired trigger."
        },
        "outputs": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/WorkflowOutputParameter"
          },
          "description": "Gets the outputs."
        }
      }
    },
    "WorkflowRunFilter": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "description": "Gets or sets the status of workflow run."
        }
      }
    },
    "WorkflowRunListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowRun"
          },
          "description": "Gets or sets a list of workflow runs."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowRunAction": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkflowRunActionProperties",
          "description": "Gets or sets the workflow run action properties."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow run action name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the workflow run action type."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "WorkflowRunActionProperties": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the code."
        },
        "error": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the error."
        },
        "trackingId": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the trackingId."
        },
        "inputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to inputs."
        },
        "outputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to outputs."
        }
      }
    },
    "WorkflowRunActionFilter": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "description": "Gets or sets the status of workflow run action."
        }
      }
    },
    "WorkflowRunActionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowRunAction"
          },
          "description": "Gets or sets a list of workflow run actions."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "SkuName": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Free",
        "Shared",
        "Basic",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "SkuName",
        "modelAsString": false
      }
    },
    "WorkflowState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Enabled",
        "Disabled",
        "Deleted",
        "Suspended"
      ],
      "x-ms-enum": {
        "name": "WorkflowState",
        "modelAsString": false
      }
    },
    "WorkflowStatus": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Paused",
        "Running",
        "Waiting",
        "Succeeded",
        "Skipped",
        "Suspended",
        "Cancelled",
        "Failed",
        "Faulted",
        "TimedOut",
        "Aborted"
      ],
      "x-ms-enum": {
        "name": "WorkflowStatus",
        "modelAsString": false
      }
    },
    "ParameterType": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "String",
        "SecureString",
        "Int",
        "Float",
        "Bool",
        "Array",
        "Object",
        "SecureObject"
      ],
      "x-ms-enum": {
        "name": "ParameterType",
        "modelAsString": false
      }
    },
    "KeyType": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Primary",
        "Secondary"
      ],
      "x-ms-enum": {
        "name": "KeyType",
        "modelAsString": false
      }
    },
    "Sku": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/SkuName",
          "description": "Gets or sets the name."
        },
        "plan": {
          "$ref": "#/definitions/ResourceReference",
          "description": "Gets or sets the reference to plan."
        }
      }
    },
    "ContentLink": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the content link URI."
        },
        "contentVersion": {
          "type": "string",
          "description": "Gets or sets the content version."
        },
        "contentSize": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the content size."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the content hash."
        },
        "metadata": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the metadata."
        }
      }
    },
    "ContentHash": {
      "type": "object",
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the algorithm."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value."
        }
      }
    },
    "WorkflowParameter": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ParameterType",
          "description": "Gets or sets the type."
        },
        "value": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the value."
        },
        "metadata": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the metadata."
        }
      }
    },
    "WorkflowOutputParameter": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the error."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/WorkflowParameter"
        }
      ]
    },
    "RegenerateSecretKeyParameters": {
      "type": "object",
      "properties": {
        "keyType": {
          "$ref": "#/definitions/KeyType",
          "description": "Gets or sets the key type."
        }
      }
    },
    "RunWorkflowParameters": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of workflow run trigger."
        },
        "outputs": {
          "type": "object",
          "description": "Gets or sets the outputs of workflow run trigger."
        }
      }
    },
    "WorkflowSecretKeys": {
      "type": "object",
      "properties": {
        "primarySecretKey": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the primary secret key."
        },
        "secondarySecretKey": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the secondary secret key."
        }
      }
    },
    "RecurrenceFrequency": {
      "type": "string",
      "enum": [
        "Second",
        "Minute",
        "Hour",
        "Day",
        "Week",
        "Month",
        "Year"
      ],
      "x-ms-enum": {
        "name": "RecurrenceFrequency",
        "modelAsString": false
      }
    },
    "WorkflowTriggerRecurrence": {
      "type": "object",
      "properties": {
        "frequency": {
          "$ref": "#/definitions/RecurrenceFrequency",
          "description": "Gets or sets the frequency."
        },
        "interval": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the interval."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time."
        },
        "timeZone": {
          "type": "string",
          "description": "Gets or sets the time zone."
        }
      }
    },
    "WorkflowRunTrigger": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the name."
        },
        "inputs": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the inputs."
        },
        "inputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to inputs."
        },
        "outputs": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the outputs."
        },
        "outputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to outputs."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time."
        },
        "trackingId": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the trackingId."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the code."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "error": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the error."
        }
      }
    },
    "WorkflowTriggerProvisioningState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Creating",
        "Succeeded",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "WorkflowTriggerProvisioningState",
        "modelAsString": false
      }
    },
    "WorkflowProvisioningState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Moving",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "WorkflowProvisioningState",
        "modelAsString": false
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "The subscription id.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "api-version": {
      "name": "api-version",
      "description": "The API version.",
      "in": "query",
      "required": true,
      "type": "string"
    }
  }
}
