{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Redis Cache Management API",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}": {
      "patch": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_Update",
        "description": "gets a Redis cache.",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "the resource",
            "schema": {
              "$ref": "#/definitions/TempResource2"
            }
          }
        }
      }
    },
    "/operations": {
      "get": {
        "summary": "Lists all foo.",
        "description": "foo",
        "operationId": "Operations_List",
        "parameters": [
          {
            "name": "limit",
            "type": "string",
            "description": "foo"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "TempResource1": {
      "x-ms-azure-resource": true,
      "description": "temporary resource 1",
      "properties": {
        "location": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "TempResource2": {
      "allOf": [
        {
          "$ref": "#/definitions/TempResource1"
        }
      ],
      "description": "temporary resource 2",
      "properties": {
        "location": {
          "type": "string"
        }
      }
    },
    "OperationsListResult": {
      "description": "List of operations",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of Operations"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParamterer": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "apiVersion",
      "in": "path",
      "description": "API ID.",
      "required": true,
      "type": "string"
    }
  }
}