{
  "swagger": "2.0",
  "info": {
    "title": "Top level properties allowed for models allOf Resource in body parameters are name, type, id, location, properties, tags, plan, sku, etag, managedBy, identity.",
    "description": "Some documentation.",
    "version": "2017-02-08"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/foo": {
      "put": {
        "operationId": "PutFoo",
        "summary": "Foo path",
        "description": "Foo operation",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ParameterWithExtraProperty"
            },
            "description": "The parameters to provide for the updated account."
          }
        ],
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/bar": {
      "get": {
        "operationId": "GetBar",
        "summary": "Bar path",
        "description": "Bar operation",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ParameterWithExtraProperty"
            },
            "description": "The parameters to provide for the operation."
          }
        ],
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "definitions": {
    "ParameterWithExtraProperty": {
      "properties": {
        "extraProperty": {
          "type": "string",
          "description": "Required. Indicates the type of account.",
          "enum": [
            "Storage",
            "BlobStorage"
          ],
          "x-ms-enum": {
            "name": "extraProperty",
            "modelAsString": false
          }
        },
        "location": {
          "type": "string",
          "description": "Required. Gets or sets the location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo region is specified on update the request will succeed."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "properties": {
          "extraProperty1": {
            "description": "a property inside the props bag",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "required": [
        "kind",
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "The parameters to provide for the parameter."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test subscription id"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test api version"
    }
  }
}