{
  "swagger": "2.0",
  "info": {
    "title": "Definition missing description",
    "description": "Some documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/foo": {
      "post": {
        "operationId": "PostFoo",
        "summary": "Foo path",
        "description": "Foo operation",
        "responses": {
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "properties": {
        "foo": {
          "type": "string",
          "description": "Foo property"
        }
      }
    },
    "ParamWithProperties": {
      "description": "Description for the param",
      "properties": {
        "property1": {
          "type": "string"
        },
        "property2": {
          "type": "string",
          "description": "description for property2"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test subscription id"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test api version"
    }
  }
}