{
  "swagger": "2.0",
  "info": {
    "title": "Foo definition has overly nested properties",
    "description": "Some documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/foo/bar": {
      "get": {
        "operationId": "Foo_Get",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Foo"
            }
          }
        }
      }
    },
    "/foo/bar1": {
      "get": {
        "operationId": "Foo1_Get",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Foo1"
            }
          }
        }
      }
    }
  },
  "basePath": "/",
  "definitions": {
    "Foo": {
      "description": "Foo",
      "properties": {
        "properties": {
          "type": "object",
          "description": "bar"
        }
      }
    },
    "Foo1": {
      "description": "Foo1",
      "properties": {
        "properties": {
          "type": "object",
          "description": "bar",
          "x-ms-client-flatten": false
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test subscription id"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test api version"
    }
  }
}