{
  "swagger": "2.0",
  "info": {
    "title": "Operation with multiple body parameters",
    "description": "Some documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/foo": {
      "post": {
        "operationId": "PostFoo",
        "summary": "Foo path",
        "description": "Foo operation",
        "parameters": [
          {
            "name": "test",
            "in": "body",
            "description": "test parameter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          {
            "name": "test2",
            "in": "body",
            "required": true,
            "description": "test parameter 2",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "description": "Test"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test subscription id"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "test api version"
    }
  }
}