{
  "swagger": "2.0",
  "info": {
    "title": "DnsManagementClient",
    "description": "The DNS Management Client.",
    "version": "2016-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{relativeRecordSetName}": {
      "patch": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_Update",
        "description": "Updates a record set within a DNS zone.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "zoneName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the DNS zone (without a terminating dot)."
          },
          {
            "name": "relativeRecordSetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the record set, relative to the name of the zone.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "recordType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of DNS record in this record set.",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "NS",
              "PTR",
              "SOA",
              "SRV",
              "TXT"
            ],
            "x-ms-enum": {
              "name": "RecordType",
              "modelAsString": false
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecordSet"
            },
            "description": "Parameters supplied to the Update operation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwritting concurrent changes."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The record set has been updated.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_CreateOrUpdate",
        "description": "Creates or updates a record set within a DNS zone.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "zoneName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the DNS zone (without a terminating dot)."
          },
          {
            "name": "relativeRecordSetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the record set, relative to the name of the zone.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "recordType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of DNS record in this record set. Record sets of type SOA can be updated but not created (they are created when the DNS zone is created).",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "NS",
              "PTR",
              "SOA",
              "SRV",
              "TXT"
            ],
            "x-ms-enum": {
              "name": "RecordType",
              "modelAsString": false
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecordSet"
            },
            "description": "Parameters supplied to the CreateOrUpdate operation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwritting any concurrent changes."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch",
            "description": "Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will be ignored."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "The record set has been created.",
            "schema": {
              "$ref": "#/definitions/RecordSet"
            }
          },
          "200": {
            "description": "The record set has been updated.",
            "schema": {
              "$ref": "#/definitions/RecordSet"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },      
      "get": {
        "tags": [
          "RecordSets"
        ],
        "operationId": "RecordSets_Get",
        "description": "Gets a record set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "zoneName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the DNS zone (without a terminating dot)."
          },
          {
            "name": "relativeRecordSetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the record set, relative to the name of the zone.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "recordType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of DNS record in this record set.",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "NS",
              "PTR",
              "SOA",
              "SRV",
              "TXT"
            ],
            "x-ms-enum": {
              "name": "RecordType",
              "modelAsString": false
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/RecordSet"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RecordSet": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the record set."
        },
        "name": {
          "type": "string",
          "description": "The name of the record set."
        },
        "type": {
          "type": "string",
          "description": "The type of the record set."
        },
        "etag": {
          "type": "string",
          "description": "The etag of the record set."
        },
        "properties": {
          "$ref": "#/definitions/RecordSetProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the record set."
        }
      },
      "description": "Describes a DNS record set (a collection of DNS records with the same name and type)."
    },
    "ARecord": {
      "properties": {
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address of this A record."
        }
      },
      "description": "An A record."
    },
    "AaaaRecord": {
      "properties": {
        "ipv6Address": {
          "type": "string",
          "description": "The IPv6 address of this AAAA record."
        }
      },
      "description": "An AAAA record."
    },
    "MxRecord": {
      "properties": {
        "preference": {
          "type": "integer",
          "format": "int32",
          "description": "The preference value for this MX record."
        },
        "exchange": {
          "type": "string",
          "description": "The domain name of the mail host for this MX record."
        }
      },
      "description": "An MX record."
    },
    "NsRecord": {
      "properties": {
        "nsdname": {
          "type": "string",
          "description": "The name server name for this NS record."
        }
      },
      "description": "An NS record."
    },
    "PtrRecord": {
      "properties": {
        "ptrdname": {
          "type": "string",
          "description": "The PTR target domain name for this PTR record."
        }
      },
      "description": "A PTR record."
    },
    "SrvRecord": {
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority value for this SRV record."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight value for this SRV record."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port value for this SRV record."
        },
        "target": {
          "type": "string",
          "description": "The target domain name for this SRV record."
        }
      },
      "description": "An SRV record."
    },
    "TxtRecord": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The text value of this TXT record."
        }
      },
      "description": "A TXT record."
    },
    "CnameRecord": {
      "properties": {
        "cname": {
          "type": "string",
          "description": "The canonical name for this CNAME record."
        }
      },
      "description": "A CNAME record."
    },
    "SoaRecord": {
      "properties": {
        "host": {
          "type": "string",
          "description": "The domain name of the authoritative name server for this SOA record."
        },
        "email": {
          "type": "string",
          "description": "The email contact for this SOA record."
        },
        "serialNumber": {
          "type": "integer",
          "format": "int64",
          "description": "The serial number for this SOA record."
        },
        "refreshTime": {
          "type": "integer",
          "format": "int64",
          "description": "The refresh value for this SOA record."
        },
        "retryTime": {
          "type": "integer",
          "format": "int64",
          "description": "The retry time for this SOA record."
        },
        "expireTime": {
          "type": "integer",
          "format": "int64",
          "description": "The expire time for this SOA record."
        },
        "minimumTTL": {
          "type": "integer",
          "format": "int64",
          "x-ms-client-name": "minimumTtl",
          "description": "The minimum value for this SOA record. By convention this is used to determine the negative caching duration."
        }
      },
      "description": "An SOA record."
    },
    "RecordSetProperties": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata attached to the record set."
        },
        "TTL": {
          "type": "integer",
          "format": "int64",
          "description": "The TTL (time-to-live) of the records in the record set."
        },
        "ARecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "description": "The list of A records in the record set."
        },
        "AAAARecords": {
          "type": "array",
          "x-ms-client-name": "AaaaRecords",
          "items": {
            "$ref": "#/definitions/AaaaRecord"
          },
          "description": "The list of AAAA records in the record set."
        },
        "MXRecords": {
          "type": "array",
          "x-ms-client-name": "MxRecords",
          "items": {
            "$ref": "#/definitions/MxRecord"
          },
          "description": "The list of MX records in the record set."
        },
        "NSRecords": {
          "type": "array",
          "x-ms-client-name": "NsRecords",
          "items": {
            "$ref": "#/definitions/NsRecord"
          },
          "description": "The list of NS records in the record set."
        },
        "PTRRecords": {
          "type": "array",
          "x-ms-client-name": "PtrRecords",
          "items": {
            "$ref": "#/definitions/PtrRecord"
          },
          "description": "The list of PTR records in the record set."
        },
        "SRVRecords": {
          "type": "array",
          "x-ms-client-name": "SrvRecords",
          "items": {
            "$ref": "#/definitions/SrvRecord"
          },
          "description": "The list of SRV records in the record set."
        },
        "TXTRecords": {
          "type": "array",
          "x-ms-client-name": "TxtRecords",
          "items": {
            "$ref": "#/definitions/TxtRecord"
          },
          "description": "The list of TXT records in the record set."
        },
        "CNAMERecord": {
          "$ref": "#/definitions/CnameRecord",
          "x-ms-client-name": "CnameRecord",
          "description": "The CNAME record in the  record set."
        },
        "SOARecord": {
          "$ref": "#/definitions/SoaRecord",
          "x-ms-client-name": "SoaRecord",
          "description": "The SOA record in the record set."
        }
      },
      "description": "Represents the properties of the records in the record set."
    },

    "RecordSetUpdateParameters": {
      "properties": {
        "RecordSet": {
          "$ref": "#/definitions/RecordSet",
          "description": "Specifies information about the record set being updated."
        }
      },
      "description": "Parameters supplied to update a record set."
    },
    "RecordSetListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecordSet"
          },
          "description": "Information about the record sets in the response."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results."
        }
      },
      "description": "The response to a record set List operation."
    },
    "ZoneProperties": {
      "properties": {
        "maxNumberOfRecordSets": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of record sets that can be created in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored."
        },
        "numberOfRecordSets": {
          "type": "integer",
          "format": "int64",
          "description": "The current number of record sets in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored."
        },
        "nameServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The name servers for this DNS zone. This is a read-only property and any attempt to set this value will be ignored.",
          "readOnly": true
        }
      },
      "description": "Represents the properties of the zone."
    },
    "Zone": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "The etag of the zone."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ZoneProperties",
          "description": "The properties of the zone."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Describes a DNS zone."
    },
    "ZoneDeleteResult": {
      "properties": {
        "azureAsyncOperation": {
          "type": "string",
          "description": "Users can perform a Get on Azure-AsyncOperation to get the status of their delete Zone operations."
        },
        "status": {
          "type": "string",
          "enum": [
            "InProgress",
            "Succeeded",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "OperationStatus",
            "modelAsString": false
          }
        },
        "statusCode": {
          "type": "string",
          "enum": [
            "Continue",
            "SwitchingProtocols",
            "OK",
            "Created",
            "Accepted",
            "NonAuthoritativeInformation",
            "NoContent",
            "ResetContent",
            "PartialContent",
            "MultipleChoices",
            "Ambiguous",
            "MovedPermanently",
            "Moved",
            "Found",
            "Redirect",
            "SeeOther",
            "RedirectMethod",
            "NotModified",
            "UseProxy",
            "Unused",
            "TemporaryRedirect",
            "RedirectKeepVerb",
            "BadRequest",
            "Unauthorized",
            "PaymentRequired",
            "Forbidden",
            "NotFound",
            "MethodNotAllowed",
            "NotAcceptable",
            "ProxyAuthenticationRequired",
            "RequestTimeout",
            "Conflict",
            "Gone",
            "LengthRequired",
            "PreconditionFailed",
            "RequestEntityTooLarge",
            "RequestUriTooLong",
            "UnsupportedMediaType",
            "RequestedRangeNotSatisfiable",
            "ExpectationFailed",
            "UpgradeRequired",
            "InternalServerError",
            "NotImplemented",
            "BadGateway",
            "ServiceUnavailable",
            "GatewayTimeout",
            "HttpVersionNotSupported"
          ],
          "x-ms-enum": {
            "name": "HttpStatusCode",
            "modelAsString": false
          }
        },
        "requestId": {
          "type": "string"
        }
      },
      "description": "The response to a Zone Delete operation."
    },
    "ZoneListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Zone"
          },
          "description": "Information about the DNS zones."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results."
        }
      },
      "description": "The response to a Zone List or ListAll operation."
    },
    "Resource": {
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "required": [
        "location"
      ]
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id."
        }
      },
      "x-ms-external": true
    },
    "CloudError": {
      "type": "object",
      "properties": { "error": { "$ref": "#/definitions/CloudErrorBody" } },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "properties": {
        "code": { "type": "string" },
        "message": { "type": "string" },
        "target": { "type": "string" },
        "details": {
          "type": "array",
          "items": { "$ref": "#/definitions/CloudErrorBody" }
        }
      },
      "x-ms-external": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Specifies the Azure subscription ID, which uniquely identifies the Microsoft Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Specifies the API version."
    }
  }
}
