{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Redis Cache Management API",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}": {
      "delete": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_Delete",
        "description": "Deletes a Redis cache.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParamterer"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }

      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "type": {
          "type": "string",
          "description": "Resource type"
        }
      },
      "x-ms-azure-resource": true
    },
    "MyResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    }
  },
  "parameters": {
    "SubscriptionIdParamterer": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "apiVersion",
      "in": "path",
      "description": "API ID.",
      "required": true,
      "type": "string"
    }
  }
}
