{
  "swagger": "2.0",
  "info": {
    "title": "TrafficManagerManagementClient",
    "version": "2015-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}": {
      "patch": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_Update",
        "description": "Update a Traffic Manager endpoint.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager endpoint to be updated."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile."
          },
          {
            "name": "endpointType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of the Traffic Manager endpoint to be updated."
          },
          {
            "name": "endpointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager endpoint to be updated."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Endpoint"
            },
            "description": "The Traffic Manager endpoint parameters supplied to the Update operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "The updated Traffic Manager endpoint.", 
             "schema": { 
               "$ref": "#/definitions/Endpoint" 
             } 
          } 
        }
      },
      "get": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_Get",
        "description": "Gets a Traffic Manager endpoint.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager endpoint."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile."
          },
          {
            "name": "endpointType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of the Traffic Manager endpoint."
          },
          {
            "name": "endpointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager endpoint."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "The Traffic Manager endpoint.", 
             "schema": { 
               "$ref": "#/definitions/Endpoint" 
             } 
          } 
        }
      },
      "put": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_CreateOrUpdate",
        "description": "Create or update a Traffic Manager endpoint.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager endpoint to be created or updated."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile."
          },
          {
            "name": "endpointType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of the Traffic Manager endpoint to be created or updated."
          },
          {
            "name": "endpointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager endpoint to be created or updated."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Endpoint"
            },
            "description": "The Traffic Manager endpoint parameters supplied to the CreateOrUpdate operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "The created or updated Endpoint.", 
             "schema": { 
               "$ref": "#/definitions/Endpoint" 
             } 
          },
          "201": { 
             "description": "The created or updated Endpoint.", 
             "schema": { 
               "$ref": "#/definitions/Endpoint" 
             } 
          }  
        }
      },
      "delete": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_Delete",
        "description": "Deletes a Traffic Manager endpoint.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager endpoint to be deleted."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile."
          },
          {
            "name": "endpointType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of the Traffic Manager endpoint to be deleted."
          },
          {
            "name": "endpointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager endpoint to be deleted."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": ""
          },
          "204": { 
             "description": ""
          } 
        }
      }
    },
    "/providers/Microsoft.Network/checkTrafficManagerNameAvailability": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_CheckTrafficManagerRelativeDnsNameAvailability",
        "description": "Checks the availability of a Traffic Manager Relative DNS name.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckTrafficManagerRelativeDnsNameAvailabilityParameters"
            },
            "description": "The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "",
             "schema": { 
               "$ref": "#/definitions/TrafficManagerNameAvailability" 
             } 
          } 
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "operationId": "Profiles_ListAllInResourceGroup",
        "description": "Lists all Traffic Manager profiles within a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager profiles to be listed."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "",
             "schema": {
               "$ref": "#/definitions/ProfileListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "operationId": "Profiles_ListAll",
        "description": "Lists all Traffic Manager profiles within a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "",
             "schema": {
               "$ref": "#/definitions/ProfileListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_Get",
        "description": "Gets a Traffic Manager profile.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager profile."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "The Traffic Manager profile.", 
             "schema": { 
               "$ref": "#/definitions/Profile" 
             } 
          }
        }
      },
      "put": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_CreateOrUpdate",
        "description": "Create or update a Traffic Manager profile.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager profile."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            },
            "description": "The Traffic Manager profile parameters supplied to the CreateOrUpdate operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "The created or updated Traffic Manager profile.", 
             "schema": { 
               "$ref": "#/definitions/Profile" 
             } 
          },
          "201": { 
             "description": "The created or updated Traffic Manager profile.", 
             "schema": { 
               "$ref": "#/definitions/Profile" 
             } 
          }
        }
      },
      "delete": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_Delete",
        "description": "Deletes a Traffic Manager profile.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager profile to be deleted."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile to be deleted."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": ""
          },
          "204": { 
             "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_Update",
        "description": "Update a Traffic Manager profile.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager profile."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            },
            "description": "The Traffic Manager profile parameters supplied to the Update operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": { 
             "description": "The updated Traffic Manager profile.", 
             "schema": { 
               "$ref": "#/definitions/Profile" 
             } 
          }
        }
      }
    }
  },
  "definitions": {
    "EndpointProperties": {
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "Gets or sets the Azure Resource URI of the of the endpoint.  Not applicable to endpoints of type 'ExternalEndpoints'."
        },
        "target": {
          "type": "string",
          "description": "Gets or sets the fully-qualified DNS name of the endpoint.  Traffic Manager returns this value in DNS responses to direct traffic to this endpoint."
        },
        "endpointStatus": {
          "type": "string",
          "description": "Gets or sets the status of the endpoint..  If the endpoint is Enabled, it is probed for endpoint health and is included in the traffic routing method.  Possible values are 'Enabled' and 'Disabled'."
        },
        "weight": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the weight of this endpoint when using the 'Weighted' traffic routing method. Possible values are from 1 to 1000."
        },
        "priority": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the priority of this endpoint when using the ‘Priority’ traffic routing method. Possible values are from 1 to 1000, lower values represent higher priority. This is an optional parameter.  If specified, it must be specified on all endpoints, and no two endpoints can share the same priority value."
        },
        "endpointLocation": {
          "type": "string",
          "description": "Specifies the location of the external or nested endpoints when using the ‘Performance’ traffic routing method."
        },
        "endpointMonitorStatus": {
          "type": "string",
          "description": "Gets or sets the monitoring status of the endpoint."
        },
        "minChildEndpoints": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the minimum number of endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'."
        }
      },
      "description": "Class respresenting a Traffic Manager endpoint properties."
    },
    "Endpoint": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the Traffic Manager endpoint."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the Traffic Manager endpoint."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the endpoint type of the Traffic Manager endpoint."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EndpointProperties"
        }
      },
      "description": "Class respresenting a Traffic Manager endpoint."
    },
    "CheckTrafficManagerRelativeDnsNameAvailabilityParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the resource."
        }
      },
      "description": "Parameters supplied to check Traffic Manager name operation."
    },
    "DnsConfig": {
      "properties": {
        "relativeName": {
          "type": "string",
          "description": "Gets or sets the relative DNS name provided by this Traffic Manager profile.  This value is combined with the DNS domain name used by Azure Traffic Manager to form the fully-qualified domain name (FQDN) of the profile."
        },
        "fqdn": {
          "type": "string",
          "description": "Gets or sets the fully-qualified domain name (FQDN) of the Traffic Manager profile.  This is formed from the concatenation of the RelativeName with the DNS domain used by Azure Traffic Manager."
        },
        "ttl": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the DNS Ttime-To-Live (TTL), in seconds.  This informs the local DNS resolvers and DNS clients how long to cache DNS responses provided by this Traffic Manager profile."
        }
      },
      "description": "Class containing DNS settings in a Traffic Manager profile."
    },
    "MonitorConfig": {
      "properties": {
        "profileMonitorStatus": {
          "type": "string",
          "description": "Gets or sets the profile-level monitoring status of the Traffic Manager profile."
        },
        "protocol": {
          "type": "string",
          "description": "Gets or sets the protocol (HTTP or HTTPS) used to probe for endpoint health."
        },
        "port": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the TCP port used to probe for endpoint health."
        },
        "path": {
          "type": "string",
          "description": "Gets or sets the path relative to the endpoint domain name used to probe for endpoint health."
        }
      },
      "description": "Class containing endpoint monitoring settings in a Traffic Manager profile."
    },
    "ProfileProperties": {
      "properties": {
        "profileStatus": {
          "type": "string",
          "description": "Gets or sets the status of the Traffic Manager profile.  Possible values are 'Enabled' and 'Disabled'."
        },
        "trafficRoutingMethod": {
          "type": "string",
          "description": "Gets or sets the traffic routing method of the Traffic Manager profile.  Possible values are 'Performance', 'Weighted', or 'Priority'."
        },
        "dnsConfig": {
          "$ref": "#/definitions/DnsConfig",
          "description": "Gets or sets the DNS settings of the Traffic Manager profile."
        },
        "monitorConfig": {
          "$ref": "#/definitions/MonitorConfig",
          "description": "Gets or sets the endpoint monitoring settings of the Traffic Manager profile."
        },
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Endpoint"
          },
          "description": "Gets or sets the list of endpoints in the Traffic Manager profile."
        }
      },
      "description": "Class representing the Traffic Manager profile properties."
    },
    "Profile": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProfileProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Class representing a Traffic Manager profile."
    },
    "ProfileListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Profile"
          },
          "description": "Gets the list of Traffic manager profiles."
        }
      },
      "description": "The list Traffic Manager profiles operation response."
    },
    "TrafficManagerNameAvailability": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative name."
        },
        "type": {
          "type": "string",
          "description": "Traffic Manager profile resource type."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "Describes whether the relative name is available or not."
        },
        "reason": {
          "type": "string",
          "description": "The reason why the name is not available, when applicable."
        },
        "message": {
          "type": "string",
          "description": "Descriptive message that explains why the name is not available, when applicable."
        }
      },
      "description": "Class representing a Traffic Manager Name Availability response."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-external": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}