{
  "swagger": "2.0",
  "info": {
    "title": "TestClient",
    "version": "2023-10-12",
    "description": "For test."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ArrayDefault"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Test/employees/{employeeName}/arraydefaults": {
      "get": {
        "operationId": "ArrayDefault_ListByResourceGroup",
        "tags": [
          "ArrayDefault"
        ],
        "description": "List resources by resource group",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "Name of employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArrayDefaultListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Test/employees/{employeeName}/arraydefaults/{name}": {
      "get": {
        "operationId": "ArrayDefault_Get",
        "tags": [
          "ArrayDefault"
        ],
        "description": "Get a Resource.",
        "parameters": [
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "employeeName",
            "in": "path",
            "description": "Name of employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArrayDefault"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ArrayDefault": {
      "type": "object",
      "description": "A Test resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ArrayDefaultProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "./common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ArrayDefaultListResult": {
      "type": "object",
      "description": "The response of a resource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The resource items on this page",
          "items": {
            "$ref": "#/definitions/ArrayDefault"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ArrayDefaultProperties": {
      "type": "object",
      "description": "Resource properties",
      "properties": {
        "array": {
          "type": "array",
          "description": "Array of strings",
          "items": {
            "type": "string"
          },
          "default": [
            "911",
            "933"
          ]
        }
      },
      "additionalProperties": true
    }
  },
  "parameters": {}
}
