{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Analytics resource management API.",
    "version": "2023-11-15",
    "description": "// FIXME: (missing-service-description) Add service description",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DataProducts"
    },
    {
      "name": "DataProductsCatalogs"
    },
    {
      "name": "DataTypes"
    }
  ],
  "paths": {
    "/providers/Microsoft.NetworkAnalytics/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkAnalytics/dataProducts": {
      "get": {
        "operationId": "DataProducts_ListBySubscription",
        "tags": [
          "DataProducts"
        ],
        "description": "List data products by subscription.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DataProductListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_ListBySubscription_MaximumSet_Gen.json"
          },
          "DataProducts_ListBySubscription_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkAnalytics/dataProductsCatalogs": {
      "get": {
        "operationId": "DataProductsCatalogs_ListBySubscription",
        "tags": [
          "DataProductsCatalogs"
        ],
        "description": "List data catalog by subscription.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DataProductsCatalogListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProductsCatalogs_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/DataProductsCatalogs_ListBySubscription_MaximumSet_Gen.json"
          },
          "DataProductsCatalogs_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/DataProductsCatalogs_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts": {
      "get": {
        "operationId": "DataProducts_ListByResourceGroup",
        "tags": [
          "DataProducts"
        ],
        "description": "List data products by resource group.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DataProductListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "DataProducts_ListByResourceGroup_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}": {
      "get": {
        "operationId": "DataProducts_Get",
        "tags": [
          "DataProducts"
        ],
        "description": "Retrieve data product resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataProduct"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_Get_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_Get_MaximumSet_Gen.json"
          },
          "DataProducts_Get_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DataProducts_Create",
        "tags": [
          "DataProducts"
        ],
        "description": "Create data product resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataProduct"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataProduct' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataProduct"
            }
          },
          "201": {
            "description": "Resource 'DataProduct' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataProduct"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_Create_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_Create_MaximumSet_Gen.json"
          },
          "DataProducts_Create_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_Create_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DataProducts_Update",
        "tags": [
          "DataProducts"
        ],
        "description": "Update data product resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataProductUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataProduct"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_Update_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_Update_MaximumSet_Gen.json"
          },
          "DataProducts_Update_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DataProducts_Delete",
        "tags": [
          "DataProducts"
        ],
        "description": "Delete data product resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_Delete_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_Delete_MaximumSet_Gen.json"
          },
          "DataProducts_Delete_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/addUserRole": {
      "post": {
        "operationId": "DataProducts_AddUserRole",
        "tags": [
          "DataProducts"
        ],
        "description": "Assign role to the data product.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleAssignmentCommonProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentDetail"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_AddUserRole_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_AddUserRole_MaximumSet_Gen.json"
          },
          "DataProducts_AddUserRole_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_AddUserRole_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/dataTypes": {
      "get": {
        "operationId": "DataTypes_ListByDataProduct",
        "tags": [
          "DataTypes"
        ],
        "description": "List data type by parent resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DataTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataTypes_ListByDataProduct_MaximumSet_Gen": {
            "$ref": "./examples/DataTypes_ListByDataProduct_MaximumSet_Gen.json"
          },
          "DataTypes_ListByDataProduct_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataTypes_ListByDataProduct_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/dataTypes/{dataTypeName}": {
      "get": {
        "operationId": "DataTypes_Get",
        "tags": [
          "DataTypes"
        ],
        "description": "Retrieve data type resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "dataTypeName",
            "in": "path",
            "description": "The data type name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataTypes_Get_MaximumSet_Gen": {
            "$ref": "./examples/DataTypes_Get_MaximumSet_Gen.json"
          },
          "DataTypes_Get_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataTypes_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DataTypes_Create",
        "tags": [
          "DataTypes"
        ],
        "description": "Create data type resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "dataTypeName",
            "in": "path",
            "description": "The data type name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataType' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataType"
            }
          },
          "201": {
            "description": "Resource 'DataType' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataType"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataTypes_Create_MaximumSet_Gen": {
            "$ref": "./examples/DataTypes_Create_MaximumSet_Gen.json"
          },
          "DataTypes_Create_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataTypes_Create_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DataTypes_Update",
        "tags": [
          "DataTypes"
        ],
        "description": "Update data type resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "dataTypeName",
            "in": "path",
            "description": "The data type name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataTypeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataType"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataTypes_Update_MaximumSet_Gen": {
            "$ref": "./examples/DataTypes_Update_MaximumSet_Gen.json"
          },
          "DataTypes_Update_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataTypes_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DataTypes_Delete",
        "tags": [
          "DataTypes"
        ],
        "description": "Delete data type resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "dataTypeName",
            "in": "path",
            "description": "The data type name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataTypes_Delete_MaximumSet_Gen": {
            "$ref": "./examples/DataTypes_Delete_MaximumSet_Gen.json"
          },
          "DataTypes_Delete_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataTypes_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/dataTypes/{dataTypeName}/deleteData": {
      "post": {
        "operationId": "DataTypes_DeleteData",
        "tags": [
          "DataTypes"
        ],
        "description": "Delete data for data type.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "dataTypeName",
            "in": "path",
            "description": "The data type name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {}
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataTypes_DeleteData_MaximumSet_Gen": {
            "$ref": "./examples/DataTypes_DeleteData_MaximumSet_Gen.json"
          },
          "DataTypes_DeleteData_MinimumSet_Gen": {
            "$ref": "./examples/DataTypes_DeleteData_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/dataTypes/{dataTypeName}/generateStorageContainerSasToken": {
      "post": {
        "operationId": "DataTypes_GenerateStorageContainerSasToken",
        "tags": [
          "DataTypes"
        ],
        "description": "Generate sas token for storage container.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "dataTypeName",
            "in": "path",
            "description": "The data type name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerSaS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerSasToken"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataTypes_GenerateStorageContainerSasToken_MaximumSet_Gen": {
            "$ref": "./examples/DataTypes_GenerateStorageContainerSasToken_MaximumSet_Gen.json"
          },
          "DataTypes_GenerateStorageContainerSasToken_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataTypes_GenerateStorageContainerSasToken_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/generateStorageAccountSasToken": {
      "post": {
        "operationId": "DataProducts_GenerateStorageAccountSasToken",
        "tags": [
          "DataProducts"
        ],
        "description": "Generate sas token for storage account.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSas"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountSasToken"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_GenerateStorageAccountSasToken_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_GenerateStorageAccountSasToken_MaximumSet_Gen.json"
          },
          "DataProducts_GenerateStorageAccountSasToken_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_GenerateStorageAccountSasToken_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/listRolesAssignments": {
      "post": {
        "operationId": "DataProducts_ListRolesAssignments",
        "tags": [
          "DataProducts"
        ],
        "description": "List user roles associated with the data product.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListRoleAssignments"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_ListRolesAssignments_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_ListRolesAssignments_MaximumSet_Gen.json"
          },
          "DataProducts_ListRolesAssignments_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_ListRolesAssignments_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/removeUserRole": {
      "post": {
        "operationId": "DataProducts_RemoveUserRole",
        "tags": [
          "DataProducts"
        ],
        "description": "Remove role from the data product.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleAssignmentDetail"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_RemoveUserRole_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_RemoveUserRole_MaximumSet_Gen.json"
          },
          "DataProducts_RemoveUserRole_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_RemoveUserRole_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/rotateKey": {
      "post": {
        "operationId": "DataProducts_RotateKey",
        "tags": [
          "DataProducts"
        ],
        "description": "Initiate key rotation on Data Product.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataProductName",
            "in": "path",
            "description": "The data product resource name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyVaultInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProducts_RotateKey_MaximumSet_Gen": {
            "$ref": "./examples/DataProducts_RotateKey_MaximumSet_Gen.json"
          },
          "DataProducts_RotateKey_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProducts_RotateKey_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProductsCatalogs": {
      "get": {
        "operationId": "DataProductsCatalogs_ListByResourceGroup",
        "tags": [
          "DataProductsCatalogs"
        ],
        "description": "List data catalog by resource group.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DataProductsCatalogListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProductsCatalogs_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/DataProductsCatalogs_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "DataProductsCatalogs_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/DataProductsCatalogs_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProductsCatalogs/default": {
      "get": {
        "operationId": "DataProductsCatalogs_Get",
        "tags": [
          "DataProductsCatalogs"
        ],
        "description": "Retrieve data type resource.",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataProductsCatalog"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataProductsCatalogs_Get_MaximumSet_Gen": {
            "$ref": "./examples/DataProductsCatalogs_Get_MaximumSet_Gen.json"
          },
          "DataProductsCatalogs_Get_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen": {
            "$ref": "./examples/DataProductsCatalogs_Get_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountSas": {
      "type": "object",
      "description": "The details for storage account sas creation.",
      "properties": {
        "startTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Sas token start timestamp."
        },
        "expiryTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Sas token expiry timestamp."
        },
        "ipAddress": {
          "type": "string",
          "description": "Ip Address"
        }
      },
      "required": [
        "startTimeStamp",
        "expiryTimeStamp",
        "ipAddress"
      ]
    },
    "AccountSasToken": {
      "type": "object",
      "description": "Details of storage account sas token .",
      "properties": {
        "storageAccountSasToken": {
          "type": "string",
          "format": "password",
          "description": "Field to specify storage account sas token.",
          "x-ms-secret": true
        }
      },
      "required": [
        "storageAccountSasToken"
      ]
    },
    "ConsumptionEndpointsProperties": {
      "type": "object",
      "description": "Details of Consumption Properties",
      "properties": {
        "ingestionUrl": {
          "type": "string",
          "description": "Ingestion url to upload the data.",
          "readOnly": true
        },
        "ingestionResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource Id of ingestion endpoint.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        },
        "fileAccessUrl": {
          "type": "string",
          "description": "Url to consume file type.",
          "readOnly": true
        },
        "fileAccessResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource Id of file access endpoint.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        },
        "queryUrl": {
          "type": "string",
          "description": "Url to consume the processed data.",
          "readOnly": true
        },
        "queryResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource Id of query endpoint.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Kusto/clusters"
              }
            ]
          }
        }
      }
    },
    "ContainerSaS": {
      "type": "object",
      "description": "The details for container sas creation.",
      "properties": {
        "startTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Sas token start timestamp."
        },
        "expiryTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Sas token expiry timestamp."
        },
        "ipAddress": {
          "type": "string",
          "description": "Ip Address"
        }
      },
      "required": [
        "startTimeStamp",
        "expiryTimeStamp",
        "ipAddress"
      ]
    },
    "ContainerSasToken": {
      "type": "object",
      "description": "Details of storage container account sas token .",
      "properties": {
        "storageContainerSasToken": {
          "type": "string",
          "format": "password",
          "description": "Field to specify storage container sas token.",
          "x-ms-secret": true
        }
      },
      "required": [
        "storageContainerSasToken"
      ]
    },
    "ControlState": {
      "type": "string",
      "description": "The data type state",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ControlState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Field to enable a setting."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Field to disable a setting."
          }
        ]
      }
    },
    "DataProduct": {
      "type": "object",
      "description": "The data product resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataProductProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DataProductInformation": {
      "type": "object",
      "description": "Data Product Information",
      "properties": {
        "dataProductName": {
          "type": "string",
          "description": "Name of data product."
        },
        "description": {
          "type": "string",
          "description": "Description about data product."
        },
        "dataProductVersions": {
          "type": "array",
          "description": "Version information of data product.",
          "items": {
            "$ref": "#/definitions/DataProductVersion"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "dataProductName",
        "description",
        "dataProductVersions"
      ]
    },
    "DataProductListResult": {
      "type": "object",
      "description": "The response of a DataProduct list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DataProduct items on this page",
          "items": {
            "$ref": "#/definitions/DataProduct"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DataProductNetworkAcls": {
      "type": "object",
      "description": "Data Product Network rule set",
      "properties": {
        "virtualNetworkRule": {
          "type": "array",
          "description": "Virtual Network Rule",
          "items": {
            "$ref": "#/definitions/VirtualNetworkRule"
          }
        },
        "ipRules": {
          "type": "array",
          "description": "IP rule with specific IP or IP range in CIDR format.",
          "items": {
            "$ref": "#/definitions/IPRules"
          },
          "x-ms-identifiers": []
        },
        "allowedQueryIpRangeList": {
          "type": "array",
          "description": "The list of query ips in the format of CIDR allowed to connect to query/visualization endpoint.",
          "items": {
            "type": "string"
          }
        },
        "defaultAction": {
          "$ref": "#/definitions/DefaultAction",
          "description": "Default Action"
        }
      },
      "required": [
        "virtualNetworkRule",
        "ipRules",
        "allowedQueryIpRangeList",
        "defaultAction"
      ]
    },
    "DataProductProperties": {
      "type": "object",
      "description": "The data product properties.",
      "properties": {
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the data product resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Latest provisioning state  of data product.",
          "readOnly": true
        },
        "publisher": {
          "type": "string",
          "description": "Data product publisher name.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "product": {
          "type": "string",
          "description": "Product name of data product.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "majorVersion": {
          "type": "string",
          "description": "Major version of data product.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "owners": {
          "type": "array",
          "description": "List of name or email associated with data product resource deployment.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "redundancy": {
          "$ref": "#/definitions/ControlState",
          "description": "Flag to enable or disable redundancy for data product.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "purviewAccount": {
          "type": "string",
          "description": "Purview account url for data product to connect to.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "purviewCollection": {
          "type": "string",
          "description": "Purview collection url for data product to connect to.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "privateLinksEnabled": {
          "$ref": "#/definitions/ControlState",
          "description": "Flag to enable or disable private link for data product resource.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/ControlState",
          "description": "Flag to enable or disable public access of data product resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "customerManagedKeyEncryptionEnabled": {
          "$ref": "#/definitions/ControlState",
          "description": "Flag to enable customer managed key encryption for data product.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "customerEncryptionKey": {
          "$ref": "#/definitions/EncryptionKeyDetails",
          "description": "Customer managed encryption key details for data product.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "networkacls": {
          "$ref": "#/definitions/DataProductNetworkAcls",
          "description": "Network rule set for data product.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupConfiguration",
          "description": "Managed resource group configuration.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "availableMinorVersions": {
          "type": "array",
          "description": "List of available minor versions of the data product resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "currentMinorVersion": {
          "type": "string",
          "description": "Current configured minor version of the data product resource.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "documentation": {
          "type": "string",
          "description": "Documentation link for the data product based on definition file.",
          "readOnly": true
        },
        "consumptionEndpoints": {
          "$ref": "#/definitions/ConsumptionEndpointsProperties",
          "description": "Resource links which exposed to the customer to query the data.",
          "readOnly": true
        },
        "keyVaultUrl": {
          "type": "string",
          "description": "Key vault url.",
          "readOnly": true
        }
      },
      "required": [
        "publisher",
        "product",
        "majorVersion"
      ]
    },
    "DataProductUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DataProduct.",
      "properties": {
        "identity": {
          "$ref": "../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/DataProductUpdateProperties",
          "description": "The updatable properties of the DataProduct."
        }
      }
    },
    "DataProductUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DataProduct.",
      "properties": {
        "owners": {
          "type": "array",
          "description": "List of name or email associated with data product resource deployment.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "purviewAccount": {
          "type": "string",
          "description": "Purview account url for data product to connect to.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "purviewCollection": {
          "type": "string",
          "description": "Purview collection url for data product to connect to.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "privateLinksEnabled": {
          "$ref": "#/definitions/ControlState",
          "description": "Flag to enable or disable private link for data product resource.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "currentMinorVersion": {
          "type": "string",
          "description": "Current configured minor version of the data product resource.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        }
      }
    },
    "DataProductUserRole": {
      "type": "string",
      "description": "The data type state",
      "enum": [
        "Reader",
        "SensitiveReader"
      ],
      "x-ms-enum": {
        "name": "DataProductUserRole",
        "modelAsString": true,
        "values": [
          {
            "name": "Reader",
            "value": "Reader",
            "description": "Field to specify user of type Reader."
          },
          {
            "name": "SensitiveReader",
            "value": "SensitiveReader",
            "description": "Field to specify user of type SensitiveReader.\nThis user has privileged access to read sensitive data of a data product."
          }
        ]
      }
    },
    "DataProductVersion": {
      "type": "object",
      "description": "Data Product Version.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of data product"
        }
      },
      "required": [
        "version"
      ]
    },
    "DataProductsCatalog": {
      "type": "object",
      "description": "The data catalog resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataProductsCatalogProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DataProductsCatalogListResult": {
      "type": "object",
      "description": "The response of a DataProductsCatalog list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DataProductsCatalog items on this page",
          "items": {
            "$ref": "#/definitions/DataProductsCatalog"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DataProductsCatalogProperties": {
      "type": "object",
      "description": "Details for data catalog properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The data catalog provisioning state.",
          "readOnly": true
        },
        "publishers": {
          "type": "array",
          "description": "The data product publisher information.",
          "items": {
            "$ref": "#/definitions/PublisherInformation"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "publishers"
      ]
    },
    "DataType": {
      "type": "object",
      "description": "The data type resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataTypeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DataTypeListResult": {
      "type": "object",
      "description": "The response of a DataType list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DataType items on this page",
          "items": {
            "$ref": "#/definitions/DataType"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DataTypeProperties": {
      "type": "object",
      "description": "The data type properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Latest provisioning state  of data product.",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/DataTypeState",
          "description": "State of data type.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "stateReason": {
          "type": "string",
          "description": "Reason for the state of data type.",
          "readOnly": true
        },
        "storageOutputRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Field for storage output retention in days.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "databaseCacheRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Field for database cache retention in days.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "databaseRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Field for database data retention in days.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "visualizationUrl": {
          "type": "string",
          "description": "Url for data visualization.",
          "readOnly": true
        }
      }
    },
    "DataTypeState": {
      "type": "string",
      "description": "The data type state",
      "enum": [
        "Stopped",
        "Running"
      ],
      "x-ms-enum": {
        "name": "DataTypeState",
        "modelAsString": true,
        "values": [
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Field to specify stopped state."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Field to specify running state."
          }
        ]
      }
    },
    "DataTypeUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DataType.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataTypeUpdateProperties",
          "description": "The updatable properties of the DataType."
        }
      }
    },
    "DataTypeUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DataType.",
      "properties": {
        "state": {
          "$ref": "#/definitions/DataTypeState",
          "description": "State of data type.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "storageOutputRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Field for storage output retention in days.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "databaseCacheRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Field for database cache retention in days.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "databaseRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Field for database data retention in days.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "DefaultAction": {
      "type": "string",
      "description": "Specifies the default action of allow or deny when no other rules match.",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "DefaultAction",
        "modelAsString": true,
        "values": [
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Represents allow action."
          },
          {
            "name": "Deny",
            "value": "Deny",
            "description": "Represents deny action."
          }
        ]
      }
    },
    "EncryptionKeyDetails": {
      "type": "object",
      "description": "Encryption key details.",
      "properties": {
        "keyVaultUri": {
          "type": "string",
          "description": "The Uri of the key vault."
        },
        "keyName": {
          "type": "string",
          "description": "The name of the key vault key."
        },
        "keyVersion": {
          "type": "string",
          "description": "The version of the key vault key."
        }
      },
      "required": [
        "keyVaultUri",
        "keyName",
        "keyVersion"
      ]
    },
    "IPRules": {
      "type": "object",
      "description": "IP rule with specific IP or IP range in CIDR format.",
      "properties": {
        "value": {
          "type": "string",
          "description": "IP Rules Value"
        },
        "action": {
          "type": "string",
          "description": "The action of virtual network rule."
        }
      },
      "required": [
        "action"
      ]
    },
    "KeyVaultInfo": {
      "type": "object",
      "description": "Details for KeyVault.",
      "properties": {
        "keyVaultUrl": {
          "type": "string",
          "description": "key vault url."
        }
      },
      "required": [
        "keyVaultUrl"
      ]
    },
    "ListRoleAssignments": {
      "type": "object",
      "description": "list role assignments.",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Count of role assignments."
        },
        "roleAssignmentResponse": {
          "type": "array",
          "description": "list of role assignments",
          "items": {
            "$ref": "#/definitions/RoleAssignmentDetail"
          },
          "x-ms-identifiers": [
            "roleAssignmentId"
          ]
        }
      },
      "required": [
        "count",
        "roleAssignmentResponse"
      ]
    },
    "ManagedResourceGroupConfiguration": {
      "type": "object",
      "description": "ManagedResourceGroup related properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of managed resource group"
        },
        "location": {
          "type": "string",
          "description": "Managed Resource Group location"
        }
      },
      "required": [
        "name",
        "location"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Represents a succeeded operation."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Represents a failed operation."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Represents a canceled operation."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Represents a pending operation."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Represents a pending operation."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Represents an operation under deletion."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Represents an accepted operation."
          }
        ]
      },
      "readOnly": true
    },
    "PublisherInformation": {
      "type": "object",
      "description": "Details for Publisher Information.",
      "properties": {
        "publisherName": {
          "type": "string",
          "description": "Name of the publisher."
        },
        "dataProducts": {
          "type": "array",
          "description": "Data product information.",
          "items": {
            "$ref": "#/definitions/DataProductInformation"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "publisherName",
        "dataProducts"
      ]
    },
    "RoleAssignmentCommonProperties": {
      "type": "object",
      "description": "The details for role assignment common properties.",
      "properties": {
        "roleId": {
          "type": "string",
          "description": "Role Id of the Built-In Role"
        },
        "principalId": {
          "type": "string",
          "description": "Object ID of the AAD principal or security-group."
        },
        "userName": {
          "type": "string",
          "description": "User name."
        },
        "dataTypeScope": {
          "type": "array",
          "description": "Data Type Scope at which the role assignment is created.",
          "items": {
            "type": "string"
          }
        },
        "principalType": {
          "type": "string",
          "description": "Type of the principal Id: User, Group or ServicePrincipal"
        },
        "role": {
          "$ref": "#/definitions/DataProductUserRole",
          "description": "Data Product role to be assigned to a user."
        }
      },
      "required": [
        "roleId",
        "principalId",
        "userName",
        "dataTypeScope",
        "principalType",
        "role"
      ]
    },
    "RoleAssignmentDetail": {
      "type": "object",
      "description": "The details for role assignment response.",
      "properties": {
        "roleId": {
          "type": "string",
          "description": "Role Id of the Built-In Role"
        },
        "principalId": {
          "type": "string",
          "description": "Object ID of the AAD principal or security-group."
        },
        "userName": {
          "type": "string",
          "description": "User name."
        },
        "dataTypeScope": {
          "type": "array",
          "description": "Data Type Scope at which the role assignment is created.",
          "items": {
            "type": "string"
          }
        },
        "principalType": {
          "type": "string",
          "description": "Type of the principal Id: User, Group or ServicePrincipal"
        },
        "role": {
          "$ref": "#/definitions/DataProductUserRole",
          "description": "Data Product role to be assigned to a user."
        },
        "roleAssignmentId": {
          "type": "string",
          "description": "Id of role assignment request"
        }
      },
      "required": [
        "roleId",
        "principalId",
        "userName",
        "dataTypeScope",
        "principalType",
        "role",
        "roleAssignmentId"
      ]
    },
    "VirtualNetworkRule": {
      "type": "object",
      "description": "Virtual Network Rule",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID of a subnet"
        },
        "action": {
          "type": "string",
          "description": "The action of virtual network rule."
        },
        "state": {
          "type": "string",
          "description": "Gets the state of virtual network rule."
        }
      },
      "required": [
        "id"
      ]
    }
  },
  "parameters": {}
}
