{
    "swagger": "2.0",
    "info":
    {
        "title": "Polymorphic AnimalStore",
        "description": "Some cool documentation.",
        "version": "2014-04-01-preview"
    }
    ,
    "host": "management.azure.com",
    "schemes": [
    "https"
    ],
    "basePath": "/",
    "produces": [ "application/json" ],
    "consumes": [ "application/json" ],
    "paths":
    {
        "/getpolymorphicAnimals":
        {
            "put":
            {
                "operationId": "CreateOrUpdatePolymorphicAnimals",
                "summary": "Product Types",
                "description": "The Products endpoint returns information about the Uber products offered at a given location. The response includes the display name and other details about each product, and lists the products in the proper display order.",
                "parameters": [
                {
                    "name": "AnimalCreateOrUpdateParameter",
                    "in": "body",
                    "description": "An Animal",
                    "schema":
                    {
                        "$ref": "#/definitions/Animal"
                    }
                }
                ],
                "responses":
                {
                    "200":
                    {
                        "description": "The created Animal",
                        "schema":
                        {
                            "$ref": "#/definitions/Animal"
                        }
                    }
                    ,
                    "default":
                    {
                        "description": "Unexpected error",
                        "schema":
                        {
                            "$ref": "Error2"
                        }
                    }
                }
            }
        }
    }
    ,
    "definitions":
    {
        "Animal":
        {
            "discriminator": "dtype",
            "required": [
            "dtype"
            ],
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "Id."
                }
                ,
                "description":
                {
                    "type": "string",
                    "description": "Description of a Animal."
                }
                ,
                "dtype":
                {
                    "type": "string"
                }
            }
        }
        ,
        "BaseCat":
        {
            "AllOf": [
            {
                "$ref":  "Animal"
            }
            ],
            "properties":
            {
                "color":
                {
                    "type": "string",
                    "description": "cat color"
                }
            }
        }
        ,
        "SiameseCat":
        {
            "AllOf": [
            {
                "$ref":  "BaseCat"
            }
            ],
            "properties":
            {
                "length":
                {
                    "type": "integer",
                    "description": "cat length"
                }
            }
        }
        ,
        "BurmeseCat":
        {
            "AllOf": [
            {
                "$ref":  "SiameseCat"
            }
            ],
            "properties":
            {
                "nickName":
                {
                    "type": "integer",
                    "description": "cat nick name"
                }
            }
        }
        ,
        "HimalayanCat":
        {
            "AllOf": [
            {
                "$ref":  "SiameseCat"
            }
            ],
            "properties":
            {
                "hairLength":
                {
                    "type": "integer",
                    "description": "cat hair length"
                }
            }
        }
        ,
        "PersianCat":
        {
            "AllOf": [
            {
                "$ref":  "BaseCat"
            }
            ],
            "properties":
            {
                "size":
                {
                    "type": "integer",
                    "description": "cat size"
                }
            }
        }
        ,
        "Doggy":
        {
            "id": "Dog",
            "AllOf": [
            {
                "$ref":  "#/definitions/Animal"
            }
            ],
            "properties":
            {
                "name":
                {
                    "type": "string",
                    "description": "dog name"
                }
            }
        }
        ,
        "Horsey":
        {
            "id": "Horse",
            "AllOf": [
            {
                "$ref":  "Animal"
            }
            ],
            "properties":
            {
                "breed":
                {
                    "type": "string",
                    "description": "horse breed"
                }
            }
        }
        ,
        "Error2":
        {
            "properties":
            {
                "code":
                {
                    "type": "integer",
                    "format": "int32"
                }
                ,
                "message":
                {
                    "type": "string"
                }
                ,
                "fields":
                {
                    "type": "string"
                }
            }
        }
    }
}
